[2021-10-04 20:03] akaszynski commented on #637
All of our `Query` methods need is a refactor to use `get_value` whenever possible.

Opening a PR for this.

[2021-10-05 12:35] mcMunich commented on #628
@germa89 Issue #634 is likely related to this issue. When I try to set my pymapdl run to a given directory (either full path or local = os.getcwd() , mapdl.run( "/CWD," + local)) the local directory is empty after tje solve. But in my AppData folder a new directory with the solution and apdl outputs is created.
Some runs can't seem to access data in the AppData directory even though it is there.

[2021-10-05 13:04] #628 closed

[2021-10-05 13:41] germa89 commented on #628
Hi @mcMunich

A new branch that fix this issue has been merged onto main. So I presume you should have no problem after updating Pyansys.

Let us know if updating does not fix your problem.

[2021-10-05 14:22] akaszynski commented on #628
Should be out in the next release, which keeps getting delayed as we squash bugs.  Look for ``ansys-mapdl-core==0.60.0`` when it comes out with this (and other) bug fixes.

[2021-10-05 14:32] mcMunich commented on #628
@akaszynski Thanks! Note I just ran a test and if there are empty spaces in the directory name, the results will not be returned to that directory when setting the directory with cwd. New bug?

[2021-10-05 14:42] germa89 commented on #628
Hi @mcMunich ! Feel free to create another issue and post some example code we can replicate. Regards,

[2021-10-05 16:14] mcMunich opened #641 "/cwd will not change the directory if there are blank spaces in name"
I am trying to set the directory where a pymapdl analysis results will be saved using the /cwd command.
I have found that if the directory name has spaces, the /cwd will not write the apdl output to that folder.

Example: Directory 'BOB' will have the expected results but directory 'BOB with Spaces' is empty when I run the .py script below. Run from a directory without spaces, naturally.

[code]

[2021-10-06 10:14] jgd10 commented on #641
After some investigation it seems that directories with spaces in are not supported by APDL itself because I was not able to get the two example directories to work with the base APDL `/CWD` command (in MAPDL). MAPDL simply stripped out all spaces from the path before execution.

[2021-10-06 10:24] jgd10 commented on #641
OK, result! I worked out with @rgpatchi that it's because the path needs to be enclosed with single quotes, but specifically *not* double quotes, for spaces to be allowed in the directory path.

[2021-10-06 17:50] akaszynski commented on #634
Thanks for position the solution!  Part of the problem is how we're writing temporary files and redirecting output on the server so we can stream/pass the output back to the client. This has been a thorn in my side for a while and we still need to solve this on the server side.  This workaround (using `non_interactive`) is the way to go for when you need to write output to disk.

[2021-10-06 18:36] natter1 opened #647 "mapdl.result.filename has mixture of \ and / (windows)"
I was looking for an easy way to get an `pymapdl` result into `dpf` (see [issue](https://github.com/pyansys/DPF-Core/issues/84)). A possible solution would be `mapdl.result.filename`, but it seems somewhat broken. I get something like:
[code]
As a general remark, maybe its possible to use `pathlib` instead of `str`-paths (-> discussion at #645)?

[2021-10-07 09:15] jgd10 opened #648 "Raise errors regarding symbols not allowed in directory paths"
Whilst working on https://github.com/pyansys/pymapdl/pull/643 I found that singular apostrophes are not allowed in pymapdl directory paths. Whilst inquiring about this it seems that there are actually several special characters that aren't allowed, that ARE allowed in Windows paths (at least).

We should raise an error when encountering these in a directory path, however, before we can do that we

[2021-10-07 09:19] #637 closed

[2021-10-07 11:00] #453 closed

[2021-10-07 13:27] 1990chs opened #649 "Can pymapdl support ANSYS 2021R1 or late workbench cpython version ?"
From ANSYS 2021R1, workben can use cpython using the following system environment setting.
I try to install pyansys in ANSYS cpython, but some required package version are higher than the ansys cpython version. So can pyansys support ansys cpython version ?
![image](https://user-images.githubusercontent.com/27892759/136392518-442b377f-55fa-4c3e-a98c-c358822edc42.png)
![屏幕截图 2021-10-01 002349](http

[2021-10-07 16:56] jgd10 commented on #641
With the merger of #643 this should be fixed.

[2021-10-08 15:33] emhen opened #653 "MAPDL Command Logging"
As a way to keep documentation of analysis and provide a repeatable-on-any-platform file, recording mapdl commands to an input file would be beneficial. In ANSYS <17.0 versions, this file would be automatically generated by ANSYS as a *.log file, but this file does not get generated with a full history of commands in the >17.0 versions on Windows.

If ANSYS no longer generates this file automatica

[2021-10-11 10:55] mcMunich opened #654 "/out not returning .out after solve or just empty file"
Normally APDL users will put in a /out,name,out line in their script to werite out the solver output.
I tried that in pymapdl and the directory where the model runs has a .out file (but not with the name in the /out line) but in the local where I start the analysis and set the /cwd a different file appears without the usual information in the file.

`mapdl.run("/OUT , VM1 , out, r'D:\'")`
Attached

[2021-10-13 05:14] akaszynski commented on #654
This brings to light one of the (current) big issues we have with how MAPDL works in server mode; each command (unless muted using `mute=True` redirects the output of that command to a `anstmp` file, which is then read back into the server and forwarded to Python.  It's remarkably inefficient, but we're having trouble adding a cross-platform approach to capture the stdout from MAPDL in a cross-pla

[2021-10-14 17:48] germa89 commented on #654
@akaszynski I wonder if we could plug in a file handler to write the response that the server is giving back to a file. This definitely it is not the standard output file, but for reporting purposes it should do the job. And if in local mode, it could replace the log file.

The idea is to plug something in ``_MapdlCore``. I would probably convert the attribute ``_response`` to a method, and add a

[2021-10-14 19:35] chart-magnum opened #658 "Is it possible to disable a feature to match available licenses?"
**Describe the bug**
While executing docker run, a license server replies with an error:
[code]

Is it possible to disable that feature?

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal
2. Execute command
[code]

**Expected behavior**
A MAPDL gRPC server is started.

**Screenshots**
![image](https://user-images.githubusercontent.com/88663349/137383580-16ee5964-c058-4f35-9e60-816

[2021-10-15 15:02] seghier opened #660 "No module named 'ansys.dpf'"
Hello, i try the code example from ansys page but i have this error

[code]

[code]

[2021-10-17 22:12] akaszynski commented on #660
I've seen this problem before.  Please make sure that you don't have a `ansys.py` or `ansys` directory in your python path as Python will prioritize that over libraries in the site directory.

[2021-10-18 00:38] seghier commented on #660
Thank you @akaszynski , yes exactly this happened before with other module i remember because.
i have a file called ansys.py and i renamed it, this solve this problem but i got another errors

[code]

[2021-10-20 15:05] chart-magnum commented on #658
Indeed, it was a matter of getting the license server for ANSYS2021R1. Thank you for your help!

[2021-10-20 15:05] #658 closed, assigned to nobody

[2021-10-20 21:17] akaszynski commented on #658
Great!  Thanks for posting that the solution worked here.

[2021-10-20 22:41] chart-magnum opened #662 "Extracting result file from docker"
Hi,
I want to execute an input file with ANSYS2021 docker image. For reproducibility, I consider an example from the [documentation](https://mapdldocs.pyansys.com/user_guide/mapdl_examples.html?highlight=inp#running-an-input-file-spotweld-shell181-example).
1. I launched the docker image.
2. I executed the following code to run the input file
[code]
3. I tried to post-process the results with
[cod

[2021-10-21 04:13] akaszynski commented on #662
There are two ways to do this.  The easiest is to simply use [mapdl.download](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.mapdl_grpc.MapdlGrpc.download.html), and you can download the current result file (generally `file.rst` after `mapdl.finish`).

The second approach is to map a directory to the host, but as `mapdl` runs at `/` within the docker container and it's not possibl

[2021-10-21 08:46] jgd10 commented on #660
Attempted to move issue. Unfortunately I don't have write permission to dpf-post so I can't transfer the issue within GitHub's framework, however, the two threads seem to overlap significantly in content so it is probably not necessary to recreate all the comments as is on the other thread. For now I have opted to include screenshots of what was said here.

[2021-10-21 08:46] #660 closed, assigned to nobody

[2021-10-21 22:08] #662 closed, assigned to nobody

[2021-10-21 22:57] akaszynski opened #665 "Detect local and remote input files"
Hi,
I want to execute an input file with ANSYS2021 docker image. For reproducibility, I consider an example from the [documentation](https://mapdldocs.pyansys.com/user_guide/mapdl_examples.html?highlight=inp#running-an-input-file-spotweld-shell181-example).
1. I launched the docker image.
2. I executed the following code to run the input file
[code]
3. I tried to post-process the results with
[cod

[2021-10-23 09:00] RGPATCHI opened #669 "Old legend in the doc - Path operations example"
The below example shows two legends overlapping each other in the doc.
https://mapdldocs.pyansys.com/examples/00-mapdl-examples/path_operations.html#sphx-glr-examples-00-mapdl-examples-path-operations-py

The result shows overlapping legends, but rerunning the example shows non-overlapping legends. So, needs a doc update here.
![image](https://user-images.githubusercontent.com/84843983/138550121-3

[2021-10-25 09:20] germa89 opened #670 "Image window freezes when you run PLNSOL"
**Describe the bug**
When you run ``mapdl.plnsol("U", "SUM")``, the image is shown in a windows but you cannot close it and the script does not move from there.

**To Reproduce**
Run the next command lines:

[code]

You can download the ``CDB`` file from: https://github.com/pyansys/example-data/blob/master/tech_demos/td-1/disc_pad_model.cdb

**Expected behavior**
The plot window should be able to

[2021-10-28 23:10] #669 closed, assigned to germa89

[2021-10-29 03:07] #665 closed, assigned to nobody

[2021-10-29 16:24] #649 closed, assigned to nobody

[2021-10-31 04:07] marj44 opened #686 "Pymapdl converter doesn't create an output file"
Trying to use the pymapdl converter (pymapdl.convert_script) using vm2. However, I do not get an output file.

Using the following commands to translate script:
from ansys.mapdl import core as pymapdl
from ansys.mapdl.core import examples
pymapdl.convert_script(examples.vmfiles['vm2'], 'vm2_Generated.py')

When I run vm2_Generated.py, I get the following message:
CRITICAL -  -  logging - handle_ex

[2021-10-31 11:34] 1990chs commented on #649
The ansys-mapdl-reader not updata ? By the way , httplib2 0.20.1 is also error
![image](https://user-images.githubusercontent.com/27892759/139581026-f491dd78-8797-43f0-8841-dd87d590bc52.png)

[2021-10-31 14:27] muruep opened #687 "Change working directory to save files, solve error."
Dear mapdl community,

I am running pymapdl  for a stub column test. Every time I run my code in Python, all files created at the solution are saved into a temporary file created each time in AppData/Local with a different name. I need to call some of these saved files (file.rst, database.db) in my code, so I try to change the working directory for both Python and for pyansys by
[code]
and
[code]

[2021-11-01 14:04] chart-magnum opened #688 "KeyError while launching MAPDL with a docker image"
**Describe the bug**
KeyError: 'WARNING' thrown while launching mapdl with a docker image.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch docker image
[code]

2. Execute code

[code]

3. See error

[code]

**Expected behavior**
I expected the connection with MAPDL to be established without problems. After downgrading to 0.59.1 (previous version that I used) everything worked as expec

[2021-11-01 18:40] akaszynski commented on #688
Thanks for reporting!  This is a known bug introduced in 0.60.0 and we'll patch in 0.60.1 today.  For the time being, use:
[code]

[2021-11-01 18:46] akaszynski commented on #687
CORBA doesn't have great support for the `cwd` command, but what you can do is configure MAPDL to start in a different working directory:

[code]
Please be sure that directory exists otherwise Python will throw a `FileNotFoundError` error.

[2021-11-01 21:02] akaszynski commented on #649
It will still run even with these version mismatches, and I'll consider lowering the `numpy` requirement within the reader library.

[2021-11-02 04:54] akaszynski opened #689 "Add element results to post module"
This issue tracks adding element results to the post module.

 - [x] ``U``: X, Y, or Z structural displacement.
 - [ ] ``ROT``: X, Y, or Z structural rotation.
 - [x] ``TEMP``: Temperature.
 - [ ] ``PRES``: Pressure.
 - [ ] ``VOLT``: Electric potential.
 - [ ] ``MAG``: Magnetic scalar potential.
 - [ ] ``V``: X, Y, or Z fluid velocity.
 - [ ] ``A``: X, Y, or Z magnetic vector potential
 - [ ] ``CO

[2021-11-02 08:30] muruep commented on #687
I works now. Thank you very much.

[2021-11-02 13:09] natter1 opened #690 "Progress information for lssolve"
When using `lssolve` there is no progress information at all. Would be nice to get some kind of feedback about progress esp. for long tasks.

[2021-11-02 14:26] akaszynski commented on #690
Agreed, pinging @FredAns, because I know we've talked about this internally and this would be a great feature to expose externally.  Also, @germa89, I'd like you involved with this as well.

[2021-11-02 14:27] akaszynski commented on #688
This was resolved in [ansys-mapdl-core==0.60.2](https://pypi.org/project/ansys-mapdl-core/0.60.2/), let me know if this solves it for you and we can close the issue.

[2021-11-02 14:29] akaszynski commented on #687
Closing as this is resolved.

[2021-11-02 14:29] #687 closed

[2021-11-02 14:37] chart-magnum commented on #688
Yes it does, thank you!

[2021-11-02 14:51] germa89 commented on #688
For reference, you can still use ``mapdl = Mapdl(ip=ip, loglevel='WARN')``  in 0.60 if needed.

Closing issue.

[2021-11-02 14:51] #688 closed

[2021-11-02 14:53] germa89 commented on #686
This is related to #688. Hence you have two options:
- Update to PyMAPDL 0.60.2
- Use ``mapdl = launch_mapdl(loglevel="WARN")`` in your current setup.
Please let me know if that helps.

[2021-11-02 14:54] #629 closed

[2021-11-02 15:44] akaszynski opened #692 "Add VM2 Example"
Add VM2 example, follow the pattern of the other examples and include:
- Include the problem description (grab from the VM pdf).
- Include all math so it can reproduced from scratch as an academic example.
- Propose (in separate PRs) suggestions to API to improve the flow of the VM.  For example:

Instead of:

[code]
perhaps:
[code]

This way we can make PyMAPDL more accessible to those who don't

[2021-11-02 15:45] germa89 commented on #648
Editting Alex script for Windows:

[code]

The ouput is:

[code]
Many characters fail with CWD, but the folders are already created.

![image](https://user-images.githubusercontent.com/28149841/139880818-a991af7d-4f49-4916-aed8-8316c9a7efcc.png)

Hope it helps.

[2021-11-02 21:49] #653 closed

[2021-11-03 10:33] jgd10 commented on #692
Is there a preferred issue where we can discuss the proposed move from

[code]

and to:
[code]
?

Because this change in and of itself is okay, but I don't think it will make pymapdl more accessible to new users and I'm not sure where best to discuss this proposal.

[2021-11-03 15:31] akaszynski opened #698 "Log convert_script"
Let's add a log for convert script so it's clear what's being translated.

[2021-11-07 21:00] akaszynski opened #702 "Add UPF script to the example gallery"
The UPF scripting feature added in the current release (2021R2) isn't in our example gallery and I think this would be a great thing to add to our examples (or user guide, or both).

Reference our internal docs for now, but I'd like it all to be public with a reproducible example.

#### Screenshot
![image](https://user-images.githubusercontent.com/11981631/140661714-c89bb738-9233-460f-9d1b-d311f0d

[2021-11-09 06:56] tziolek opened #703 "how to start ??"
Hello Guys,

I just discovered this whole PYmapdl and think it is really great but cannot get my head around it...

I have Ansys 2021R2 installed and was just starting with Python scripting there.

Now I have installed ansys-api-mapdl-v0 0.4.1 somehow via cmd command; have Python 3.9 installed and got the Visual Studio Code but I'm really getting lost here ... not exactly sure about the functional

[2021-11-09 11:33] natter1 commented on #703
I think thats not the one you want. You should have a look at [Getting Started](https://mapdldocs.pyansys.com/getting_started. /index.html). What you need is most likly:
 `pip install ansys-mapdl-core`

[2021-11-10 12:50] germa89 commented on #703
`pip install ansys-mapdl-core`

Exactly. More or less the steps are:
1. Install Ansys
2. Install Python
3. Install ansys-mapdl-core
4. Create a python file and write something like:
[code]
This will launch a mapdl session and connect to it. Then you can write more commands to things. You can have a look at the examples:
- https://dev.mapdldocs.pyansys.com/user_guide/extended_examples/ex_01-gmsh_ex

[2021-11-10 12:57] germa89 commented on #686
I'm closing this. Feel free to reopen or open a new issue. Thank you!

[2021-11-10 12:57] #686 closed

[2021-11-10 13:12] germa89 commented on #634
I'm closing this.

[2021-11-10 13:12] #634 closed

[2021-11-10 13:15] germa89 commented on #641
Closing this.

[2021-11-10 13:15] #641 closed

[2021-11-10 13:43] germa89 commented on #456
From the documentation: https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.Mapdl.load_table.html?highlight=load_table

```Mapdl.load_table(name, array, var1='', var2='', var3='')```

You can define the correspondent array changing `var1` to the desired variable. For example:

``Mapdl.load_table(apdl_array_name, my_python_array, var1='TIME', var2='', var3='')``

Regarding the rest of t

[2021-11-10 15:15] 1990chs commented on #456
OK, thinks

[2021-11-10 15:16] #456 closed

[2021-11-11 07:31] tziolek commented on #703
Thanks guys - followed the steps looks something is not working; is this only valid for Mechanical Enterprise ?
I have Ansys Mechancial Pro license

![image](https://user-images.githubusercontent.com/93969500/141256419-c176e7bb-70c8-47b3-81fc-50f8cc5cbdec.png)

[2021-11-11 08:31] germa89 commented on #703
There are two possible solutions to this:
- Adding `license_type='pro'` or `license_type='mech_1'` option to the launcher. This was implemented in lastest versions, so you might not be able to use it if you have 0.6 or lower.
- Adding additional switches, ``additional_switches="-p mech_1"``. This is an additional string it is added to the command line when you start the MAPDL session. The ``-p`` f

[2021-11-11 10:46] tziolek commented on #703
Hi Germa

thanks for additional lines but still same issue

I did add in python
license_type='pro'
license_type='mech_1'
additional_switches="-p mech_1"

before executing each time

from ansys.mapdl.core import launch_mapdl
mapdl = launch_mapdl()

Still problem

I have an Ansys license dedicated to my PC; its not a floating license - is that something relevant?

anything else I can try ?

[2021-11-11 11:59] germa89 commented on #703
I think you are half way there. Try:

[code]
or
[code]

[2021-11-11 12:38] tziolek commented on #703
YES!!!! now its working but I have no clue what to do next actually :)

super thanks - its quite some crazy stuff you guys are doing; hope to learn a lot coming days

[2021-11-11 13:20] germa89 commented on #703
I'm happy it works for you!

To start, you can have a look to the example library: https://mapdldocs.pyansys.com/examples/index.html

 I'm closing the issue then.

[2021-11-11 13:20] #703 closed

[2021-11-11 17:19] tziolek commented on #703
many thanks

[2021-11-12 10:09] germa89 opened #707 "Sphinx documentation failing because of ``AttributeError: can't set attribute``"
**Describe the bug**
An update on ``pydata-sphinx-theme`` raise an attribute error.

**Proposed solution**

Fix ``pydata-sphinx-theme`` version to previous 0.7.1

[2021-11-12 14:36] germa89 commented on #707
This issue should be now fixed since ``pyansys-sphinx-theme`` has been updated.

https://github.com/pyansys/pyansys-sphinx-theme/pull/10

https://github.com/pyansys/pymapdl/pull/708

[2021-11-12 14:36] #707 closed

[2021-11-12 16:15] trymelz opened #712 "list of selected nodes"
I am new to pymapdl, I would like to have the following feature but I could not find it in the documentation.

1) After issuing the command of nsel, is there a way to have a list that contains all the selected node numbers?
2) Can the selected node numbers be ordered based on the node's x coordinate?

The feature 1 could be extended to all other entities, like kp, line, area, volume, elem.
The fea

[2021-11-15 10:41] germa89 commented on #712
Hi @trymelz

Regarding your questions:
1. You can get the list of nodes using: ```mapdl.get_array('NODE', item1='NLIST')```.
The ``mapdl.get_array`` method is a wrapper of apdl ``*VGET`` command, hence you could use it also to get the coordenates of all the nodes issuing:
[code]
This approach could be extended to KP, ELEM, VOLU, etc.

2. You can select nodes based on location using:
[code]
Any APD

[2021-11-15 10:41] #712 closed

[2021-11-15 11:01] germa89 opened #713 "Extend documentation of Xsel commands"
The docstring of `Xsel` commands (such as  `KSEL`, `NSEL`, etc) is uncomplete. Only the first parameter is documented, but the other ones not.

![image](https://user-images.githubusercontent.com/28149841/141769536-2ee83bbd-7190-4f7b-89fa-c8e45bda8dff.png)

https://github.com/pyansys/pymapdl/blob/9d9498d2899218df5c75171e0774f0bf628f33dd/ansys/mapdl/core/_commands/database/selecting.py#L105

https:/

[2021-11-16 12:07] germa89 opened #715 "LocalMapdlPool with a docker image"
### Discussed in https://github.com/pyansys/pymapdl/discussions/706

<div type='discussions-op-text'>

<sup>Originally posted by **chart-magnum** November 10, 2021</sup>
Hello,

one of my collaborators works on MacOS. Out of convenience, he runs ANSYS APDL from docker image with license server provided by his institute. Now, he would like to parallelize some computation with LocalMapdlPool. Thus,

[2021-11-16 21:04] germa89 opened #718 "Machine learning examples"
## Request

To have some examples that applies machine learning together with PyMAPDL.

Something related with reinforced learning for example.

[2021-11-16 22:50] germa89 opened #719 "Example/Tech demo 15"
## Request
To translate the tech demo 15 to PyMAPDL code and publish it.

## Topic
Calibrating and Validating a Hyperelastic Constitutive Model

[2021-11-16 22:51] germa89 opened #720 "Example/Tech demo 28"
## Request
To translate and validate the tech demo 28, and upload it to the online documentation.

## Topic

Friction Stir Welding (FSW) Simulation.

[2021-11-17 14:19] kp3393 opened #723 "Incorrect time array using mapdl.post_processing.time_values"
**Describe the bug**
The time array retrieved using `mapdl.post_processing.time_values` is incorrect when your time is in milliseconds.

**To Reproduce**
Run the next command lines:
[code]

**Expected behaviour**
The time array in the first print (`print(result_list)`) is correct. However, the time array obtained using `time_values` in the second print statement is incorrect. Both the time arrays

[2021-11-18 09:20] germa89 commented on #723
Hi @kp3393

You are right, it seems our regex is not as good as it should. We will work on this.

@RomanIlchenko1308  can you please have a look at this?

[2021-11-18 10:17] germa89 commented on #470
In order to have a pymapdl conda package all its dependencies must be available as a conda package.

Link: https://stackoverflow.com/questions/64916092/how-do-i-install-pip-packages-through-a-conda-build-recipe

[2021-11-19 10:59] germa89 opened #724 "Converter: Parameter detection and in-place replacement"
Currently:

[code]
is being converted to:
[code]
Shouldn't it be converted to:
[code]
Maybe we can even keep a registry of the parameters so we can substitute them in the strings inputs in the rest of the commands.

[2021-11-19 11:44] germa89 opened #725 "fix/ ``TBFT`` is asking for a file which might be in ``mapdl.directory``"
The APDL command ``TBFT`` can require a file as an input.

For example in tech demo 15:

[code]
where ``uniaxial.data``, ``equibiax.data``, and ``planar.data`` are files generated using the command ``*CREATE``. If we replace the APDL command ``*CREATE`` by the equivalent python snippet:
[code]
PyANSYS should be clever enough to detect that the file is locally in the Python CWD and upload the file

[2021-11-21 12:20] natter1 commented on #723
Maybe thats related to https://github.com/pyansys/pydpf-post/issues/42 - where I get a crash whenever using the last time-step?

[2021-11-22 09:29] kp3393 commented on #723
Hey, @natter1 thanks for your suggestion. This is the solution that I have implemented and it does not crash for the last time step.

[code]

The problem with the regex implementation is that it fails when the time is represented in a scientific notation like 0.12500E-1. However, the implementation stated above works well in either case.

[2021-11-22 10:27] germa89 opened #727 "Saving the instance of ``Mapdl`` when issuing ``mapdl.save()``"
**Current situation**
When you issue ``mapdl.save()``, PyMAPDL is issuing ``SAVE`` MAPDL command which is fine.

**Request**
I believe there should be an optional argument to also store the ``mapdl`` instance in an additional binary file hence when you issue next time ``mapdl. resume()`` in a different python session, you will get back to the state you were when you issued ``SAVE`` with all the co

[2021-11-22 21:59] CesarRodriguezPereira commented on #525
Any way to manually disable smart labels when calling the plot functions (aside from completely disabling labels). This bug complicates pure pyansys geometry operations a lot on anything that's mildly complex. Maybe that's an easier fix, having a kwarg that let's people disable the smart feature, without having to go to the hassle of detecting the execution environment.

[2021-11-23 05:16] akaszynski commented on #525
Yes, that would be best. @germa89, can you take care of this? Effectively, when we create labels we should just set `always_visible=True` in our `general_plotter`.  See [add_point_labels](https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.add_point_labels.html)

[2021-11-23 06:00] aliirmak opened #729 "Stress results not matching with Results Viewer"
I generated a cylinder capsule model.
For this model, Von Mises stress from pyanys results does not match with the one from the results viewer of ANSYS APDL.
I only focus on max and min stresses for easy comparison.

I use the following to generate the plot:
result.plot_principal_nodal_stress(0,  "SEQV",  show_edges=True)

Below is the comparison:
![image](https://user-images.githubusercontent.com

[2021-11-23 14:55] akaszynski commented on #729
Hi @aliirmak,
Can you please upload the script here so I can generate this locally and debug this?  I agree that it's troubling that there's a different between the two plots.  Fundamentally, they're using the same arrays, so it's possible that we're treading the arrays differently.

[2021-11-24 11:45] aliirmak commented on #729
I provided both the ansys and pyansys versions.
they should be identical to my best knowledge.

[cap.zip](https://github.com/pyansys/pymapdl/files/7595314/cap.zip)

[2021-11-24 15:30] #713 closed

[2021-11-24 20:02] #702 closed

[2021-11-24 20:02] #698 closed

[2021-11-25 03:45] akaszynski commented on #729
Hi @aliirmak,

First off, thanks for the example. With your permission, I'd like to include it as one of the gallery examples as it's simple and straightforward and a perfect full example for this project.  Please see #733

Ended up being quite a rabbit hole on this one, but I think it's safe to say that these discrepancies are due to an averaging algorithm in the MAPDL plotting routine.

It will

[2021-11-25 03:51] akaszynski commented on #727
While it's a good idea, I think this will be quite challenging.  For one, while we could serialize the MAPDL mesh, we'd still have to track boundary conditions, solver settings, mesh settings, etc. There's quite a bit to track here and I think that serializing everything in the MAPDL database would be quite an undertaking. That's not to say it's not doable, but I think it might not be something wo

[2021-11-25 03:54] akaszynski commented on #725
We should consider adding a method to the `_MapdlCore` class to deal with the python path vs. local vs. remote case. One complain about our existing INPUT method was that it's grown quite long. We might consider removing some of the logic from that as well as cdread and placing it in a common method.

[2021-11-25 03:58] akaszynski commented on #724
Agreed, and this would help with conversion examples. Since the `=` operator appears to only be used when setting parameters within a mapdl script, we could simply literally convert and all following parameters.

There will probably be quite a few edge cases that arise out of this, so it may not be the easiest feature to add, but I think most MAPDL syntax can be converted over to python scripting

[2021-11-26 07:35] amyzx opened #734 "How to export matrix result"
Hi, I have a 30000*30000 sparse matrix, and hope to use ansys to compute matrix inverse result. But when I try to export the result, I get the following error. Could you help me solve the problem? Thanks a lot!

[code]
![捕获](https://user-images.githubusercontent.com/8285571/143543814-a15480e4-1185-4b94-a902-e35113eef8c3.PNG)

[2021-11-26 10:18] germa89 commented on #725
Seems reasonable. When I work on this, I will change also ``CDREAD`` and ``INPUT``.

[2021-11-26 10:21] germa89 commented on #724
As you said, most of the code will be easy to convert. The main issue I believe it will be to "replace" the string parameter by the parameter downstream.

I'm happy to have a go with this.

[2021-11-26 10:26] germa89 commented on #727
mmhh... I see what you mean. Wouldn't you track the boundary conditions, mesh settings, etc using the ``RESUME`` apdl command?
I agree it could overload the grpc connection if you need to send the whole ``CDB`` file to be ``RESUME``D. But I feel it will be quite useful to be able to load an existing session.

Anyway, it might be useful to have a look in the future.

[2021-11-26 13:46] germa89 commented on #734
Hi @amyzx

Can you upload the file `0.full` so we can have a look? You can share the file as a link after you upload it to any cloud storage service (Dropbox, OneDrive, Google Drive, etc).

After that, I will have a look.

[2021-11-26 14:12] germa89 opened #735 "Richer `run` command output"
## Current situation
Commands like `ELIST`, `NLIST`, etc. returns a string, which is fine. Other commands such as `PRNSOL` and similar, returns also a string.

This is the default behavior.

## Proposition

I believe that output from the commands should be "richer". For example, we should parse commands like `ELIST` to output a table.

To not break compatibility, we could make an object (`CommandO

[2021-11-26 14:31] germa89 commented on #729
I'm closing this issue then.

@aliirmak feel free to reopen it if this hasn't been fixed.

[2021-11-26 14:31] #729 closed

[2021-11-26 22:28] akaszynski opened #736 "Verification Manual Examples"
### Add VM examples
We need to add the first 10 verification manual examples.  These are perfect examples for the gallery as they run fast and can be integrated with our functional testing.  At the same time we can provide a bridge to academia so they can see that pymapdl is a great tool for working on academic examples.

- [x] VM1
- [x] VM2 #728
- [x] VM3
- [x] VM4
- [x] VM5
- [x] VM6 #756
- [x]

[2021-11-26 22:30] akaszynski commented on #692
Closing in favor of #736,

[2021-11-26 22:30] #692 closed

[2021-11-27 02:37] amyzx commented on #734
Hi, @germa89  Thanks for your quick reply! The following link is my [0.full](https://1drv.ms/u/s!ApdvZY7viRGliGHbRaYxKG3RhEKg?e=WwUNg9) file.

I find in ansys, I also get the same fail to open file error when running export command.

So, I try another function **starprint** to save a small matrix [1.full](https://1drv.ms/u/s!ApdvZY7viRGliF8X-1yrP5_qS6-F?e=0U4gPt). But I don't know the format of th

[2021-11-29 06:35] zdongGh opened #737 "is it possible to call two ANSYS processes at a time for coupling analysis in pymapdl?"
I want to know whether the following coupling calculation can be implemented in pymapdl:
In the pymapdl, we call two ANSYS processes to do the structural transient dynamic coupling analysis.
The first process deals with structure A, and the second process deals with structure B.
After every equilibrium iteration, structure A and B output the specified displacement U_A and U_B, respectively. Then p

[2021-11-29 10:11] germa89 commented on #737
Hi @zdongGh

Short answer is unfortunately No. Because although can start to mapdl process, the execution is locked to only one. Which means, you cannot solve the two models at the same time. There is the `Pool` library, but that is for solving the same model in multiple processes.

However, I believe this should not be very difficult to implement.

@akaszynski  what do you think? I guess we eithe

[2021-11-29 12:11] germa89 opened #738 "``nodal_contact_friction_stress`` and ``plot_nodal_contact_friction_stress``"
Since there are many plotting functions in ``post_processing`` module, it will be nice to have also functions to get and plot the nodal contact friction stress (in APDL, ``PRNSOL,CONT, SFRIC`` and ``PLNSOL, CONT, SFRIC``).

[2021-11-29 14:41] germa89 commented on #737
I have been thinking about this... I was totally mistaken.

You can use the `Pool` library.

For example:
[code]

And then perform more simulations in parallel:

[2021-11-29 15:00] germa89 commented on #737
@akaszynski  I feel like this should be made an extended example. I will open an feature request.

[2021-11-29 15:02] germa89 opened #740 "Example/Couple analysis example"
As mentioned in #737 , it will be very helpful to have an example of couple analysis. This should show how to transfer loads between models, and how to switch between them.

[2021-11-29 15:06] germa89 opened #741 "Feature/Boundary conditions plotting"
Currently there is no standard way to plot forces, displacement constraints, etc.

In APDL, the displacements are plotted like this:

![image](https://user-images.githubusercontent.com/28149841/143891884-c3cf9354-beac-435d-b1cd-b69864c49081.png)

Ideally we should have a way to plot the boundary conditions.

This might be a long (and difficult) one.

[2021-11-29 16:05] germa89 opened #742 "fix/log_apdl issue with launch_mapdl"
From internal email:

At the moment I am implementing a model generator for sub models with pyMAPDL. I wanted to use the log_apdl option with launch_mapdl.

The documentation is not straight forward. In the launch_mapdl function call it looks like you expect a bool, but in the documentation you expect type str.

 https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.launch_mapdl.html#ans

[2021-11-29 17:53] germa89 opened #743 "Size of ``post_processing`` output does not match the number of selected elements."
It seems that when we are retrieving post processing data returns an array with size equal to the total number of elements/nodes (being them selected or not).

Not sure if this is the intended behaviour or not.

## Example code:

[code]

[2021-11-29 18:57] aliirmak opened #745 "aplot input parameters are not working"
I followed the example given [here ](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.Mapdl.aplot.html)to plot selected areas.

However, only na1 input is taken into account and the rest of the inputs is ignored. Furthermore, numbering is given 0 for the area shown.

[2021-11-29 19:18] germa89 commented on #734
Hi  @amyzx

**Regarding your first issue:**

It didn't work basically because:
1. Arguments ``format`` and ``val`` are incorrect. It should be ``format_`` and ``val1``. ``format`` is built-in function hence ``"format"`` name is not used in PyMAPDL.
2. If you use ``format_ = 'EMAT'``, as the documentation says, there should be an existing ``EMAT`` file. If there is not, it will raise an error. Henc

[2021-11-29 19:18] #734 closed

[2021-11-29 23:17] #742 closed

[2021-11-30 02:11] amyzx commented on #734
@germa89  Thanks a lot! Your reply is clear and really helpful!

[2021-11-30 09:21] germa89 commented on #745
Hi @aliirmak

You are right. The second and third argument  (``na2`` and ``ninc``) are broken.

The area numering is broken too.

I'm working in a fix right now.

[2021-11-30 09:42] germa89 opened #747 "``mapdl.mute = True`` still prints an empty string (``''``)"
Since the goal of ``mapdl.mute`` is to suppress any kind of output, I believe there should be not empty string returned from a muted function. It should return ``None``.

This should **not be** the expected behaviour:
![image](https://user-images.githubusercontent.com/28149841/144023441-632f6210-8ade-4a6d-921a-77d375b81df7.png)

[2021-11-30 09:44] germa89 commented on #745
PR #746  should fix this.

[2021-11-30 14:29] akaszynski opened #749 "get_value should raise within non_interactive"
The `get_value` method should raise an error while within the `non_interactive` context manager. Otherwise, we risk unintended behavior or blocking.

[2021-11-30 16:46] germa89 commented on #743
#### Alternative:

You can get the node ids using ``mapdl.mesh.nnum`` and use them to index the post_processing output array. You should reduce it by minus 1, because of Python indexing starting in 0.

[code]

[2021-11-30 17:08] muruep opened #750 "No isfile command"
Dear mapdl community,

I am running pymapdl for a stub column test in ANSYS 19.0. I want to introduce residual stresses.

I want to use the isfile command in ANSYS APDL. This command is undocumented in ANSYS 19.0 and it does not exist in Ansys help manual after 10.0 but you can still use it. Unfortunately I dont see this command either in mapdl. Is it supported? If not, what alternatives do I have

[2021-11-30 18:17] RomanIlchenko1308 opened #751 "mapdl.post_processing.plot_nodal_displacement() doesn't work with element Beam188"
**mapdl.post_processing.plot_nodal_displacement() doesn't work with element Beam188**
In Post-Processing Procedure, I have got an issue with plotting of the nodal displacements
after the static simulation with element beam188.
However, if you got to the Verification Manual Example Number 4 (VM4), [https://mapdldocs.pyansys.com/examples/06-verif-manual/vm-004-deflection_of_a_hinged_support.html#sph

[2021-12-01 03:07] #747 closed

[2021-12-01 03:08] #745 closed

[2021-12-01 03:46] akaszynski commented on #750
Hello,

I just ran the following and got a helpful error message in 2021R2:
[code]

I would recommend using [inistate](https://mapdldocs.pyansys.com/mapdl_commands/prep7/_autosummary/ansys.mapdl.core.Mapdl.inistate.html).

[2021-12-01 09:57] germa89 commented on #745
@aliirmak  if you update PyMAPDL (``pip install --upgrade ansys-mapdl-core``) the issue should be solved.

[2021-12-01 10:38] germa89 opened #753 "``/INQUIRE`` capabilities are capped."
**Describe the bug**
So far, only some capabilities of ``/INQUIRE`` are accessible through PyMAPDL, more specifically the first block of functions:
![image](https://user-images.githubusercontent.com/28149841/144219367-39933272-b8db-43a1-9482-5ce2cd494d82.png)

However there are many more:

- Returning the Value of an Environment Variable to a Parameter
- Returning the Value of a Title to a Paramet

[2021-12-01 11:09] muruep commented on #750
Thank you very much Kaszynski.

[2021-12-01 12:12] germa89 commented on #753
It seems that the MAPDL ``StrArray`` argument (``INQUIRE,StrArray,FUNC``) is not an input in the equivalent PyMAPDL command.

We should have the option to input the ``StrArray`` name because it might be used later. In fact, ``/INQUIRE`` is very used for getting the number of lines in a file in APDL.

Hence, it should be considered, the question now is:
- Add it at the end of the other commands, as

[2021-12-01 16:04] #750 closed

[2021-12-01 17:53] #749 closed

[2021-12-02 02:54] #751 closed

[2021-12-02 19:25] akaszynski commented on #743
We should only return the displacement for the selected nodes with [ansys.mapdl.core.post.PostProcessing.selected_nodes](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.post.PostProcessing.selected_nodes.html?highlight=selected_nodes#ansys.mapdl.core.post.PostProcessing.selected_nodes).

This will require a significant refactor as plotting functions assume that all nodes are select

[2021-12-03 19:21] akaszynski opened #759 "CI/CD Stability"
I've been seeing some stability issues with our CI/CD and this issue is to track the various errors to eventually patch:

- [ ] test_elem_disp_plot (should be resolved in #758)
- [ ] test_load_array
- [ ] examples/00-mapdl-examples... [ 45%] geometry.py

#### test_elem_disp_plot
[code]

#### test_load_array
[code]

#### test_plot_nodal_principal_total_strain
[code]

#### Documentation build

[code

[2021-12-04 06:49] #759 closed

[2021-12-04 07:20] akaszynski opened #763 "Server side instability"
In about 5-10% of our tests, we see a server side failure of MAPDL when running within docker.

[code]

@FredAns, is there a way we could improve stability of the `VGet2` method?

[2021-12-07 16:08] akaszynski opened #765 "Fix indentation"
https://github.com/pyansys/pymapdl/blob/58939c569d1a2ad8529b7c6dece4898d9f77df6f/ansys/mapdl/core/check_version.py#L112

[2021-12-08 05:33] #738 closed

[2021-12-08 13:50] #753 closed

[2021-12-08 15:08] jgd10 opened #768 "type hinting for mapdl.result is not present"
the `mapdl.result` property does not have type hints which means PyCharm won't help you with auto-complete on it. This is a simple fix, however.

[2021-12-08 15:29] #765 closed

[2021-12-08 20:16] germa89 commented on #723
@kp3393 sorry for the delay to address this issue. I really skipped through my inbox. The PR #771 should fix this and make the `time_values` method more robust.

@natter1 unfortunately, I'm not very skillful on dpf-post. However, you could try to do your post-processing using `PyMAPDL`. It is pretty robust and if you are missing something, we will do our best to facilitate the tools or improve the

[2021-12-08 20:29] germa89 opened #772 "Default header and formatting in `post_processing` module"
Lastly, I have been doing quite a lot of string parsing in PyMAPDL.

I found that the next combination is very useful for parsing some APDL command outputs (see notes).

[code]

Hence I would propose either:

- Setting the previous options during the construction of the `post_processing` class. So those mapdl commandswill be included in the init method.
- If we are interested in being very consist

[2021-12-09 10:04] germa89 opened #774 "feat/docs string updates"
## Current situation

The docs are not updated to the last 2021.2 version.

## Proposal

- [ ] Setup python environment -> Package to read XML (beautiful soup?)
- [ ] Get the XML files (See Concerns 1)
- [ ] Analyze a simple command -> ``SOLVE`` or ``OUTPUT``.
    - [ ] Identify main tags dic (``*PARAMETERS`` -> ``docstring parameters``)
    - [ ] Create parser
    - [ ] Create database
    - [ ]

[2021-12-09 12:53] germa89 opened #775 "Improve consistency of `mapdl.post_processing` properties."
### Current behavior:

There are some results which are properties hence you should use them as:
[code]
However there are other properties such as:
[code]

### Proposal

Make the API consistent, making them all methods instead of properties. This implies to remove (almost) all `@property` decorators.

[2021-12-09 14:50] #768 closed

[2021-12-09 16:50] germa89 opened #776 "API version check"
### Current behavior
When `ansys-api-mapdl-v0` is updated, there is no check to ensure that the API is compatible with PyMAPDL.
A message like next one can be seen then:

![image](https://user-images.githubusercontent.com/28149841/145439943-e0e41f15-bb6c-4259-884d-14c26945025d.png)

### Desired behavior
We should probably implement an API version checker, so it won't raise an error when running Py

[2021-12-10 16:02] akaszynski commented on #735
Prototype this. I agree that a simple string isn't sufficient sometimes.

[2021-12-10 18:31] akaszynski commented on #735
Also, thinking about this more, provided that we can maintain backwards compatibility, being able to represent for jupyter notebooks would be really powerful as well.

[2021-12-12 04:13] #775 closed

[2021-12-13 04:44] #743 closed

[2021-12-16 21:40] marj44 opened #781 "Creating a custom color map"
Hi,

I'm accessing some results from an .rst file but would like to use a specific contour color map that I got directly from Ansys (see below and attached) when I plot these results using the result.plot_nodal_stress ( ) command. So far I think it's only possible to specify number of contours (n_colors=7) within this plotting function and use cmap to specify colors (cmap= ['green', 'red', 'blue']

[2021-12-17 10:01] germa89 commented on #781
Hi @marj44

I believe we have the capabilities you are requesting. You can get the default ANSYS colormap by importing:

[code]

Then you can use it as:
[code]

I do recognize though that this CMAP function is big hidden and not very advertise, but it has been very recently added.

I am closing the issue, but feel free to reopen it if something is not clear.

[2021-12-17 10:01] #781 closed

[2021-12-17 15:45] aliirmak opened #786 "adding areas with 'P'"
mapdl.aadd('P') is supposed to pop a gui to let us pick the areas.
Instead, I get the following error:

[2021-12-17 15:55] akaszynski commented on #786
Since the "GUI" isn't enabled, this command isn't enabled. @germa89, can we add this as a feature request to enable area picking through the [pyvista pick API](https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.enable_cell_picking.html?highlight=picking)?

[2021-12-17 16:11] akaszynski commented on #774
Ideally we use the xml files or whatever generated those files. Do we have a deadline for this? Also, what do we do about providing backwards compatibility as we intend this library to support at least 2 years or MAPDL releases?

[2021-12-17 16:13] akaszynski commented on #772
I think the best approach is to do nothing and then post-process the string output as needed in the suggested `CommandOutput` class. Best for us to not change the default output and instead create an intelligent parser for command output to convert to `numpy` arrays, but not change the default behavior of MAPDL.

[2021-12-18 03:03] #723 closed

[2021-12-20 08:25] engineering-luke commented on #772
This is my parsing function for APDL ascii outputs which automatically excludes headers. Please feel free to use or implement it, it you like.

[code]
Fixtures:
[code]

Tests
[code]

[pretabux.txt](https://github.com/pyansys/pymapdl/files/7743629/pretabux.txt)
[prnsolscomp.txt](https://github.com/pyansys/pymapdl/files/7743630/prnsolscomp.txt)
[prnsolucomp.txt](https://github.com/pyansys/pymapdl/fi

[2021-12-20 09:10] #776 closed

[2021-12-20 10:10] germa89 commented on #772
Hi @engineering-luke , this is a nice piece of work! I will use it as a base for the `CommandOuput` branch #735 . Thank you very much!

[2021-12-20 10:10] germa89 commented on #772
Closing issue in favor of #735 .

[2021-12-20 10:10] #772 closed

[2021-12-20 10:15] germa89 opened #787 "Elements graphical selection using Pyvista Pick API"
## Current behavior
When using `'P'` (graphical picking) in some commands related to element selection, an error raises:

## Desired behavior

Ideally, we would like to open a Pyvista window where we can select the desired elements. It should use [Pyvista Pick API](https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.enable_cell_picking.html?highlight=picking).

Reference: #786

[2021-12-20 10:17] germa89 commented on #786
@akaszynski  done.

@aliirmak  thank you for the suggestion.

[2021-12-20 10:40] germa89 opened #788 "Unit testing failing when killing the MAPDL instance."
## Describe the bug
After running a successful test, I get an error when checking the PIDs before killing the process.

The error is related to os.kill.

I'm not sure if this is happening to anyone else.

### Error
[code]

## PyMAPDL Report

[code]

[2021-12-20 10:59] germa89 commented on #788
Interesting read: https://bugs.python.org/issue42962

[2021-12-20 11:23] germa89 opened #789 "Installing PyMAPDL and Python 3.10"
## Context
Trying to fix #788 I decided to install another python environment so I installed python 3.10 using:
[code]
That was fine.

Then I tried to install PyMADPL in edit mode:
[code]

and I got the next error:

[code]

## Describe the bug

    During handling of the above exception, another exception occurred:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>

[2021-12-20 11:25] germa89 commented on #789
## Update:

If I use ``pip install numpy`` it later complain of:

[code]

when I tried to install again PyMAPDL.

[2021-12-20 11:41] germa89 commented on #788
This issue is present in: Python 3.8.11 and Python 3.9.7. Using PyMAPDL 0.60dev.

[2021-12-20 11:42] germa89 commented on #789
This is not happening when using ``python=3.9``.

[2021-12-20 12:01] germa89 commented on #789
Full log for:

[code]

[2021-12-20 12:24] germa89 commented on #789
It seems the installation fails when it reaches `ansys-mapdl-reader-0.50.15.tar.gz` where it fails in line:

https://github.com/pyansys/pymapdl-reader/blob/62e98b29d55eb8187b5dd9009a6b8e436479d94a/setup.py#L14

This is weird because when it reaches that line, pip already collected and cached Numpy 1.21.5:
[code]

I am checking the ``setup.py`` file in ``ansys-mapdl-reader`` and it seems that numpy

[2021-12-20 13:06] germa89 commented on #788
Interesting read 2: https://unix.stackexchange.com/questions/317492/list-of-kill-signals

[2021-12-20 20:05] marj44 commented on #781
Is there any documentation on this CMAP function?

[2021-12-21 12:54] germa89 commented on #781
Hi @marj44

Plotting capabilities in PyMAPDL relies on [Matplotlib](https://matplotlib.org/) (for 2D) and [Pyvista](https://www.pyvista.org/) (for 3D).
Hence you can find more information about colormaps (cmaps) in their correspondent help pages. It is not the intention of this package to "duplicate" documentation because that could lead to mistakes, outdated documentation, etc. Even more, since P

[2021-12-21 12:54] #788 closed

[2021-12-21 13:30] RomanIlchenko1308 commented on #741
Hi @germa89,

Have you tried to use [https://mapdldocs.pyansys.com/mapdl_commands/graphics/_autosummary/ansys.mapdl.core.Mapdl.pbc.html?highlight=pbc#ansys.mapdl.core.Mapdl.pbc](url) ?

`Mapdl.pbc(item='', key='', min_='', max_='', abs_='', **kwargs)` - Shows boundary condition (BC) symbols and values on displays. [APDL Command: /PBC].

Thank you!

[2021-12-21 15:40] #725 closed

[2021-12-22 10:42] germa89 commented on #470
To have PyMAPDL as a conda package, we need to have also ``ansys-api-mapdl`` as a conda package.

I did a PR for this and I'm still waiting the approval for being merged.

https://github.com/conda-forge/staged-recipes/pull/17198

[2021-12-22 11:01] germa89 commented on #741
Hi @RomanIlchenko1308

The command you mentioned only works in MAPDL GUI. I tried in PyMAPDL and it does nothing. Maybe I'm missing something.

### Eplot
![image](https://user-images.githubusercontent.com/28149841/147082692-0bc50a7a-0761-4964-a2b8-4cb44cbaa15c.png)

### Nplot
![image](https://user-images.githubusercontent.com/28149841/147082749-25bdc390-2865-4f93-bc60-5faa6fe434b3.png)

### Code f

[2021-12-23 16:33] germa89 opened #792 "Update pypi.org documentation"
As pointed out, some bits of info in:

https://pypi.org/project/ansys-mapdl-core/

are outdated.

I request a review of that website and make sure everything is updated.

[2021-12-27 10:20] germa89 opened #794 "``log_file`` is not being used in main class"
**Describe the bug**

As the title.

In:
https://github.com/pyansys/pymapdl/blob/2cafb931f48008b634d15a27513e68aefc96c9e3/ansys/mapdl/core/mapdl.py#L125-L126

Keyword ``log_file`` is not being used later.

[2021-12-27 10:36] germa89 commented on #792
@RomanIlchenko1308  can you please have a read the pypi web and see if there is any outdated text?

If any, please feel free to do the changes in `README.rst` at the root of PyMAPDL.

[2021-12-27 11:40] RomanIlchenko1308 commented on #792
Hey,
Okay, I'll take it.
Thank you, @germa89 !!!

[2021-12-27 14:48] #794 closed

[2021-12-27 14:51] #792 closed

[2021-12-30 15:13] akaszynski commented on #789
Issue is there's no `vtk` for Python 3.10 at the moment. We're going to have to wait until that's supported.

VTK support is a common issue that we've had in the past and we've considered dropping support for vtk and making it a soft dependency as not everyone can install VTK.

[2021-12-30 16:03] akaszynski opened #796 "Use pyproject.toml"
From https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html

The long and short of it is that Python is moving away from having `setup.py` executed directly, and we too should move in that direction. The biggest advantage of this approach is we can start having all our requirements in one location (e.g. `requirements_*`) and then start using `dependabot` to upgrade any testing or doc bu

[2021-12-30 16:42] akaszynski opened #797 "Nightly docs broken"
https://github.com/pyansys/pymapdl/runs/4663966875?check_suite_focus=true

[2022-01-01 18:35] akaszynski commented on #797
Discovered the issue. Seems that we need to update our GH deployment action due to SSO.
remote: The `pyansys' organization has enabled or enforced SAML SSO. To access
remote: this repository, visit https://github.com/orgs/pyansys/sso?

[2022-01-03 10:44] germa89 opened #798 "`***inq` functions support"
## Current situation:

The `***inq` functions are used widely in MAPDL code, although they are undocumented in the official documentation, good information about them can be found online: https://ansys-net.svsfem.cz/?mycat=uf_inquiry

## Request
API changes to support these functions, either through public method (`mapdl.mpinqr`) or private (`mapdl._mpinqr`).

## List of functions
`mpinqr`, `etyiq

[2022-01-03 14:58] akaszynski commented on #798
Interesting. I'd document these and make them publicly available, but provide a `Notes` section and indicate that these are "undocumented" MAPDL methods and may be subject to change or deprecation.

[2022-01-03 16:54] germa89 commented on #798
Exactly what I was thinking about. See my PR.

[2022-01-03 18:29] akaszynski opened #800 "MAPDL Class not being collected"
In a simple script, `_MapdlCore` isn't being collected:

[code]

It's important that `mapdl` collects when out of scope, which means exiting.

[2022-01-04 23:58] #798 closed

[2022-01-05 08:51] germa89 opened #801 "feat/ Make `Mapdl.input` accepts strings"
## Current situation
Sometimes, it is interesting to input multiple strings of MAPDL commands.

A less experienced PyMAPDL user might feel tempted to use `Mapdl.input` after writing a file.

However, there is the `Mapdl.run_multiline` which is for that purpose but it is not very known.

## Proposal
I would propose then, either:

- Create `Mapdl.input_strings`
- Make `Mapdl.input` accept cmd multil

[2022-01-05 08:58] germa89 opened #802 "fix/ broken code block format in docs"
Broken format in the `Mapdl.run_multiline` code block:

https://dev.mapdldocs.pyansys.com/user_guide/mapdl.html

[2022-01-05 12:04] germa89 opened #804 "fix/table formats in tech demos"
As the title.

See:

https://mapdldocs.pyansys.com/user_guide/extended_examples/techdemo-1/ex_0-tecbrakesqueal.html#recommendations

[2022-01-05 12:29] germa89 commented on #796
Acknowledged. This is on my task list, but it will take some time.

[2022-01-05 14:16] germa89 opened #806 "Missing return in `Mapdl` class"
I believe there is a missing `return` in:

https://github.com/pyansys/pymapdl/blob/18e76dd1a4bb4f6a488d9c9bdefea83753477876/ansys/mapdl/core/mapdl.py#L2155-L2178

The line 2159 is not used after the substitution (`re.sub`).

[2022-01-05 16:32] germa89 opened #808 "Converter_script does not work well with Mechanical `ds.dat`"
The models output from Workbench Mechanical tends to present many issues when using them in `convert_script`.

# Request
Adapt the `converter_script` to Mechanical data output.

Thank you @pmaroneh!

[2022-01-05 16:33] germa89 commented on #808
Some issues for now:

- Unicode scape chracters.
- /config
- /batch
...

[2022-01-05 16:39] #804 closed

[2022-01-05 16:49] akaszynski commented on #806
What we do here is remove "ERROR" when we have an allowed error, but we can't return here otherwise we break the CI.

[2022-01-05 16:59] germa89 commented on #806
But... shouldn't this line:
[code]
be changed to:
[code]

??

[2022-01-05 17:03] akaszynski commented on #806
Yes, as long as it doesn't break out CI/CD.

[2022-01-05 17:06] germa89 commented on #806
It seems like a reasonable requirement.

[2022-01-05 19:18] #806 closed

[2022-01-05 19:26] #802 closed

[2022-01-06 05:23] akaszynski commented on #801
Agree with the first approach. Should we simply rename `run_multiline` to `input_strings`?

[2022-01-06 18:53] #800 closed

[2022-01-06 20:58] #797 closed

[2022-01-07 01:26] akaszynski opened #813 "Broken documentation links"
We have a few broken documentation links in the [Tech Demo: Brake Squeal Analysis](https://mapdldocs.pyansys.com/user_guide/extended_examples/techdemo-1/ex_0-tecbrakesqueal.html)
https://storage.ansys.com/doclinks/techdemos.html?code=td-1-DLU-N2a/
https://storage.ansys.com/doclinks/techdemos.html?code=td-all-DLU-N2a/

[2022-01-07 17:47] #813 closed

[2022-01-10 15:35] germa89 opened #817 "Upload binaries `tar.gz` to PyPi"
## Current situation

Only the wheel is being uploaded to PyPi, however the binaries are also needed, for example for the Conda recipe.

## Proposed solution
Upload the binaries also by having a step in the CICD that build the source code and upload them to PyPI.

[2022-01-10 21:55] #817 closed

[2022-01-10 22:06] #735 closed

[2022-01-10 22:18] #801 closed

[2022-01-10 23:04] germa89 opened #821 "Wrong format in example 00"
The last bit of the example has wrong format.

https://mapdldocs.pyansys.com/examples/00-mapdl-examples/3d_notch.html#compute-the-stress-concentration

[2022-01-11 11:37] RomanIlchenko1308 opened #823 "Get the list output instead of the string with "mapdl.ndist"."
**Describe the bug**

During the simulation of VM8 #820  with **pymapdl** I have figured out that:

[https://github.com/pyansys/pymapdl/blob/d8c70c26c7dd973ca12611ba76aed56dbe052650/ansys/mapdl/core/_commands/preproc/keypoints.py#L198](url)

 `mapdl.kdist` - calculates and lists ([X, Y, Z] coordinates) the distance between two keypoints using →

[code]

calculates and **lists ([X, Y, Z] coordinate

[2022-01-12 06:15] akaszynski opened #827 "Fix pyvista deprecation warnings"
There's an internal example we're working on that has these ugly warnings:
[code]
Please have this patched tomorrow for a release by the end of this week. Near trivial patch.

[2022-01-12 16:52] germa89 opened #828 "`flist.to_dataframe()` fails"
**Describe the bug**
The conversion to data frame fails in the following example. Maybe because of low number of nodes?

**To Reproduce**

[code]

[2022-01-12 18:09] #823 closed

[2022-01-13 09:43] germa89 commented on #828
It seems this also fails on Linux:

[code]

[2022-01-13 11:15] germa89 opened #831 "Get rid of Pyvista deprecation warning"
**Describe the bug**

There is a deprecation warning every time we run one of our plotting functions:

For example: ``mapdl.eplot()``
[code]

[2022-01-13 16:22] germa89 commented on #831
Oooh... It is a mapdl reader thing....

[2022-01-13 16:40] #828 closed

[2022-01-13 16:49] RomanIlchenko1308 commented on #827
thank you, Alex(@akaszynski),
I will try to finish it today!

[2022-01-13 22:48] germa89 opened #837 "Documentation about unsupported command is not clear."
Documentation about unsupported commands is not very clear.

https://mapdldocs.pyansys.com/user_guide/mapdl.html#unsupported-mapdl-commands-and-other-considerations

[2022-01-14 10:59] RomanIlchenko1308 commented on #837
Hi, German (@germa89),

I have seen an email from Mike about "PyMAPDL and *DEL" and here I saw your issue description,
if you don't mind, I would like to shear my ideas how to improve this doc page

I suppose that we can add the next thing to represent better [Unsupported “Interactive” Commands] and [Non-Applicable Commands]:

- Add some links of the commands references [+++++]https://www.mm.bme.h

[2022-01-14 14:59] akaszynski commented on #837
I really like their online and public docs, but I don't think providing links, except for a few exceptions, is the best approach. We don't have control over the public documentation and it's several releases out of date. Better would be for us to link to public Ansys documentation. This is currently a work in progress internally and may not happen.

Yes, similar to how we're adding the `Examples`

[2022-01-15 04:12] akaszynski commented on #827
Deprecation warnings fixed as of `ansys-mapdl-reader==0.51.8`. See log output from https://github.com/pyansys/pymapdl/runs/4820017708?check_suite_focus=true.

[2022-01-15 04:12] #827 closed

[2022-01-17 17:14] akaszynski commented on #647
@RomanIlchenko1308, can you look at this as well, unless @jgd10 wants to follow up on this.

[2022-01-17 17:38] jgd10 commented on #647
I'll give this a look tomorrow morning and see how I do. It's been delayed because I'd love to use `pathlib` everywhere as that seems like a really sensible idea, but it's a much bigger task than just fixing filename. Might be best to fix filename as `str` and come back to `pathlib` if it looks too daunting.

[2022-01-17 19:22] germa89 opened #839 "`Mapdl` should return `None` when `Mute=True`"
I believe it does not make much sense returning an empty string.

In order to check the output is correct, if we expecting an empty string from the Mapdl server, we can raise an issue in `mapdl.run` (or somewhere else) if the response is not a string, but still return `None`.

[2022-01-17 19:40] #821 closed

[2022-01-18 13:23] jgd10 commented on #647
So, having investigated this I have come to the following conclusions:

- The discrepancy is caused because the code has a section where it insists that `/` be used instead of `\\` everywhere and makes those replacements, but this does not play nicely with path joining that happens elsewhere, which caused the bug.
- We can't fix this at the location of those path-joins because they happen in ansys

[2022-01-18 15:19] akaszynski commented on #647
We can fix it there as needed. It's an upstream package that we modify and it grows (or changes) in tandem with `ansys-mapdl-core`.

That's probably the best solution since it's future focused rather than the patchwork of fixes we currently have. Recommend using `pathlib.Path` within `ansys-mapdl-reader` first, then fixing it here.

[2022-01-18 15:32] jgd10 commented on #647
I should have clarified. I meant we can't fix it in this repo*, since the changes need to happen in the other one, but otherwise yes.

[2022-01-18 15:43] #839 closed

[2022-01-18 17:37] RomanIlchenko1308 opened #846 "Improve output table for docs results."
**New Feature for Verification Examples**
Instead of print output with f-style, let's provide output data frame with pandas, which will be reusable for all docs.

**To Reproduce**

Using `pandas` inside [mapdl_core→misc](https://github.com/pyansys/pymapdl/blob/main/ansys/mapdl/core/misc.py)
create a function `def check_res_table` with lazy import and use it at all VMs to represent results and comp

[2022-01-18 18:22] akaszynski opened #847 "Add in pythreejs example"
Add this to the user guide.

[2022-01-19 15:10] da1910 commented on #796
This is definitely a good thing to do, but unfortunately Dependabot is not capable of parsing `flit` formatted dependencies from `pyproject.toml` files at present.

The only supported dependency resolvers are for setuptools `requirements.txt`, poetry, and pipenv

- https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-versio

[2022-01-20 00:43] akaszynski commented on #796
Recommend waiting until `poetry` supports `pip install -e .` via "development mode". ~~Exciting~~ intense PR notes: https://github.com/python-poetry/poetry/issues/34.

Should be released soon.

[2022-01-20 09:56] germa89 opened #849 "PDF documentation format"
The PDF documentation presents some format issues, such as:

![image](https://user-images.githubusercontent.com/28149841/150315485-89fc0882-9ff6-4579-90b9-c1802e581f8c.png)

![image](https://user-images.githubusercontent.com/28149841/150315557-2df0807d-f8e5-46e2-b6db-6b2f6f858578.png)

Shouldn't be there a list of chapters?
![image](https://user-images.githubusercontent.com/28149841/150315838-45bd

[2022-01-20 13:17] germa89 opened #851 ""Validate latest mapdl image" seems to be broken."
## Current situation:

https://github.com/pyansys/pymapdl/actions/workflows/nightly-mapdl-check.yml

![image](https://user-images.githubusercontent.com/28149841/150337072-6e5be055-ea06-4c11-9ef6-bf0cc9b38796.png)

## Possible reason

Because of:

![image](https://user-images.githubusercontent.com/28149841/150337188-ce76f363-a002-4e90-93b5-e0ce3c3cb1ac.png)

I believe it is related to the coverage

[2022-01-20 13:18] germa89 commented on #851
Honestly, I'm not sure this is the reason... But anyway this change is needed.

[2022-01-20 14:58] akaszynski commented on #851
This is due to "latest" image being invalid. Recommend moving our latest testing to a nightly CI run just like our nightly doc build and remove it from our normal CI.

This is time critical, ping me if you can't get it done since this is sorta blocking merges.

[2022-01-20 15:37] RomanIlchenko1308 commented on #851
Thank you, German(@germa89) !!!

[2022-01-20 16:30] #851 closed

[2022-01-21 10:13] #837 closed

[2022-01-21 11:34] RomanIlchenko1308 commented on #849
Hi German(@germa89)

About **Unneeded output:**

After your advice at VM7 I have suppresed all non-necessary outputs with
`
_ = mapdl.finish
_ = mapdl.eplot
etc.
`

If you want, I can add it with new PRs to the previous VMs.

About **Too many nodes printing?**

I remember, that was at VM6
there were two types of elements
and the printing a list of nodes, maybe it is not critical necessity,
But t I

[2022-01-21 12:27] germa89 commented on #849
Up to you ;)

I feel we should not fill the guide with too much printing. If someone wants to see the full output, they can download the example and run it.

[2022-01-21 19:13] germa89 opened #856 "Adding plotly support to the documentation"
As the title.

I think it is useful to support [Plotly](https://plotly.com) for the documentation. It will make our documentation much more interactive and rich.

[2022-01-22 01:29] RomanIlchenko1308 commented on #736
Hi Alex

VMs are done!
thank you very much that you helped me during this task.

[2022-01-22 16:46] akaszynski commented on #736
Nearly. @germa89, can you please review?

[2022-01-22 16:53] #856 closed

[2022-01-24 09:25] germa89 commented on #736
Sure thing.

[2022-01-28 11:21] RomanIlchenko1308 opened #863 "Add the data hiding from the camera position (cpos)"
**Add (cpos_mute = True / False)**

To suppress the printout output of the camera position for

[code]

**The solution**

Add into the `ansys.mapdl.core.plotting.general_plotter`
[ansys.mapdl.core.plotting.general_plotter](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.plotting.general_plotter.html?highlight=general%20plotter#ansys.mapdl.core.plotting.general_plotter)

suppression

[2022-01-31 22:43] germa89 commented on #846
Closed because #848  has been closed and the new changes in ``pyansys_sphinx_theme``:

https://github.com/pyansys/pyansys-sphinx-theme/pull/17
https://github.com/pyansys/pyansys-sphinx-theme/pull/18

[2022-01-31 22:43] #846 closed

[2022-01-31 22:45] #863 closed

[2022-01-31 22:45] germa89 commented on #847
I believe this should be closed because of #861

Am I right @akaszynski ??

[2022-01-31 23:01] akaszynski commented on #847
Not quite.  We need a full threejs example to at least demo how to use the pythreejs plotting backend.

[2022-02-01 13:21] #808 closed

[2022-02-01 16:24] germa89 opened #874 "Documenting MAPDL commands with extensive command documentation"
### Description

Some commands such ``*GET``, ``TB`` and many more have very long documentation in the command reference. I feel like, it is very long. Some Note sections cover all the possible configurations of those commands.

Definitely we are aiming to have everything very well documented. However, I wonder if a docstring is the right place for this, keeping in mind that those pages require qu

[2022-02-01 20:50] akaszynski commented on #874
Suggest separate docs page.  Agree that it’s too long.

[2022-02-02 18:57] germa89 commented on #874
It might be even better for later updates ... maybe I'm not sure.

[2022-02-08 16:33] pmaroneh opened #879 "Issue with behavior of CDREAD behavior"
I'm using cdread to open a cdb file.
This command line works fine:
`mapdl.cdread('COMB', 'Electronics_PCB', 'cdb')`
and the model is imported and can be plotted.

However the following:
`mapdl.cdread(option='COMB', fname='Electronics_PCB', ext='cdb')`
 (which should have the same behavior), returns an error:
![image](https://user-images.githubusercontent.com/76440649/153031563-5cc82d9e-f5ea-42b5-8

[2022-02-09 18:40] #879 closed

[2022-02-10 02:13] mikerife opened #883 "Load_table results in table with one fewer rows than expected"
**Describe the bug**
load_table results in an MAPDL table with one fewer rows than expected.  The last row of data from the inputted np.array is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.Mapdl.load_table.html?highlight=load_table
2. Test example at bottom of page.

**Expected behavior**
Expected return is:
a

[2022-02-10 02:16] mikerife commented on #883
I just realized too that the example has data of 0.001 etc but output is shown as 0.0001 etc.

[2022-02-10 09:42] akaszynski commented on #883
@germa89, can you look at this?

[2022-02-11 14:06] germa89 commented on #883
Ok. This is quite interesting.

It seems that MAPDL have different behavior depending on how many columns you have in the table to be read.

See the code attached.
[code]
If you use the full 3x3:
[code]
If you use the 3x2:
[code]

## Explanation.

MAPDL (``TREAD``) when reading a 2 columns file, will NOT use the first row for the header.

However, if using more than 2 columns, it will use the firs

[2022-02-15 16:47] pmaroneh opened #885 "Issue with parameters naming"
If a parameter is created with mapdl.get('AR1','node',' ','count' ) , the value of the AR1 parameter can be seen in mapdl.parameters, but if two digits are used for the name ('AR11'), the parameter is not shown in mapdl.parameters.
This seems to happen for any combination of double digits
![image](https://user-images.githubusercontent.com/76440649/154108118-74b62838-0379-456c-9242-c43255643420.png

[2022-02-15 17:47] kattibaud opened #886 "Installation problem"
I'm a new user of Python and GitHub and I installed Python 3.9.10.
I'm trying to install pymadl using this command line :

pip install ansys-mapdl-core

As a result, I get all of these lines, meaning that the installation goes well (see below) :

Requirement already satisfied: ansys-mapdl-core in c:\users\33608\downloads\pymapdl (0.60.dev0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\pr

[2022-02-15 19:10] germa89 commented on #886
Hi @kattibaud

Have you activated the virtual environment where you installed pyansys?

[2022-02-16 08:53] akaszynski commented on #886
I've seen this problem before. I'm guessing that you either have a script named `ansys.py`, the environment where you're running the python IDE is different than pip, or your working directory has an `ansys` directory in it.

Also, it looks like something's off here:
[code]
Looks like you're installing from source, which is fine if you want to change pymapdl, but I'd recommend first installing via

[2022-02-16 09:04] kattibaud commented on #886
Hi @germa89

I haven't activated the virtual environment where I installed pyansys. I don't know what it is. I'm a new Python and Git's user, so I don't know the step-by-step's process to properly install a python library using Git from zero.

Regards

[2022-02-16 09:14] akaszynski commented on #886
It's a bit more work installing from git. If I were you, I'd do this via `pip` and then install from `git` once that's working. Packages are just easier to work with.

[2022-02-16 09:42] germa89 commented on #886
Hi @kattibaud

In Python, you can use virtual environments in order to have different python configurations (python versions, packages, etc) without having conflict with each other.

In Windows, using Anaconda (https://anaconda.org/) to install python and manage virtual environments is quite common.
However I suspect your installation is different (maybe you installed from python.org?). In any cas

[2022-02-16 14:35] kattibaud commented on #886
Thank you both  @germa89 and @akaszynski.
I managed to properly install pymapdl and pyaedt thanks to your recommendations.

Thank you again.
Best regards!

[2022-02-16 14:42] akaszynski opened #888 "Add breadcrumb trail"
See latest docs at https://sphinxdocs.pyansys.com/ once https://github.com/pyansys/pyansys-sphinx-theme/pull/27 is merged and a new patch release is made.

[2022-02-16 15:10] akaszynski opened #889 "Add link to ml example"
Add link to https://pyansys.github.io/ml-rl-cartpole/ml-rl-notebook.html within our extended examples section.

[2022-02-16 15:50] akaszynski opened #892 "Fix anum"
Minor bug in rendering https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.mapdl_geometry.Geometry.anum.html?highlight=anum#ansys.mapdl.core.mapdl_geometry.Geometry.anum

[2022-02-16 18:28] germa89 commented on #885
It seems it is a MAPLD issue...

In MAPDL you can run both:
[code]
and the output is:

![image](https://user-images.githubusercontent.com/28149841/154331511-863252f0-4cba-4489-b06d-c74ecbafa761.png)

![image](https://user-images.githubusercontent.com/28149841/154331624-07d0e0b8-82d3-4f03-b2e8-e691c62337df.png)

I believe it is a conflict with naming convention (p.e. ``ARGX`` for functions), I'm pi

[2022-02-17 09:57] #892 closed

[2022-02-17 10:06] #883 closed

[2022-02-17 10:41] akaszynski commented on #889
Resolved in #894.

[2022-02-17 10:41] #889 closed

[2022-02-17 10:42] akaszynski commented on #888
Resolved in #894.

[2022-02-17 10:42] #888 closed

[2022-02-17 10:43] akaszynski commented on #885
Confirmed it's a MAPDL issue.

@germa89, let's patch this on the PyMAPDL side by raising a `ValueError` when a MAPDL variable contains more than one digit at the end of it.

[2022-02-17 11:49] pmaroneh opened #903 "Getting max node number with mapdl.mesh.nnum returns incorrect results"
My understanding was that both the following methods to retrieve the max node number in a selection would return the same result:
[code]
However when testing this on a model I get the following values:
![image](https://user-images.githubusercontent.com/76440649/154475296-c9fe481c-a8ea-4c9b-b67d-f6a3717742d1.png)
When checking the behavior in MAPDL it seems that the correct value is the one given b

[2022-02-17 12:00] akaszynski commented on #903
[code]
I'm fairly sure it's because `mapdl.mesh` is only working with the selected mesh and not the entire mesh. Is this missing in the documentation?

[2022-02-17 13:02] pmaroneh commented on #903
mapdl.mesh.nnum is indeed for the selected node numbers (as documented), but *GET also works on the selected set only:
![image](https://user-images.githubusercontent.com/76440649/154487126-c105fdf1-5abc-4a8e-9417-eaeba5f0223a.png)

[2022-02-17 13:05] pmaroneh opened #904 "result.animate_nodal_displacement() crashes"
I've run a modal analysis, which I'd like to postprocess.
result = mapdl.result
result.animate_nodal_displacement(1)
does create an animation of the first mode
![image](https://user-images.githubusercontent.com/76440649/154487535-0feb0e6b-0f44-4dd0-8006-fbb4378831bb.png)
but when closing the plot window, the following error is returned:
![image](https://user-images.githubusercontent.com/76440649/1

[2022-02-17 13:06] pmaroneh commented on #904
Complete error message:

2022󈚦󈚵 14:05:13.018 (5914.284s) [ ] vtkOpenGLState.cxx:1795 WARN| Hardware does not support the number of textures defined.
2022󈚦󈚵 14:05:13.019 (5914.284s) [ ] vtkOpenGLState.cxx:1795 WARN| Hardware does not support the number of textures defined.
2022󈚦󈚵 14:05:13.019 (5914.284s) [ ] vtkOpenGLState.cxx:1795 WARN| Hardware does not support the number of textures defined.
202

[2022-02-17 14:27] pmaroneh opened #905 "Issue with plot_nodal_displacement"
It appears that the method `plot_nodal_displacement()` can be accessed in two ways:
- Method 1: through `mapdl.result.plot_nodal_displacement() `of the pyMAPDL reader. In this method, the result number uses a 0-indexing (so the first result set is obtained through `mapdl.result.plot_nodal_displacement(0)`). I've been able to successfully use this method on a model:
![image](https://user-images.git

[2022-02-17 14:48] pmaroneh opened #906 "Display PSD input curve"
I'm creating a PSD analysis with the following:
[code]
I'd like to plot the PSD curve, with `mapdl.psdgraph(1) `; but this does not create a plot anywhere. The output returns:
![image](https://user-images.githubusercontent.com/76440649/154505910-a13f7a7e-31c7-45ee-a279-5110f69cf67d.png)
And indeed file012.png is generated in my working directory, but it cannot be opened.

[2022-02-17 14:58] mikerife commented on #885
Hi @pmaroneh @germa89 @akaszynski Not sure if this helps but the MAPDL help on parameter names states that: "Parameter names ARG1 through ARG9 and AR10 through AR99 are reserved for local parameters. Generally, local parameters are used in macros (see Local Variables). Use of these names as "regular" parameters is not recommended."

Mike

[2022-02-17 15:57] mikerife commented on #906
Hi @pmaroneh Out of curiosity is file012.png size exactly 1Kb?  If so try the following:

mapdl.slashsolu()
mapdl.antype('spectr')
mapdl.spopt('psd') # power spectral density
mapdl.psdunit(1,'accg',9.81*1000) # Use input table 1 with acceleration spectrum in terms of acceleration due to gravity
mapdl.psdfrq(1,' ',1,40,50,70.71678,100,700,900) # Define the frequency points in the input table 1
mapd

[2022-02-17 16:14] akaszynski commented on #905
I think we should depreciate the usage of `pymapdl-reader` and then move towards using just PyMAPDL or DPF.

Integration with PyDPF would be great. @rlagha, is there an easy way to dpf installed on Linux on GitHub? Do we have instructions for that?

[2022-02-18 15:06] pmaroneh commented on #906
Hi @mikerife . Indeed if I export the image to a output file through /show,png ... /show,close
![image](https://user-images.githubusercontent.com/76440649/154707716-4d970d3a-63d8-4f93-b136-59f540f89d77.png)
then it is exported fine and can be opened.
However it would be really useful to be able to plot the graph in the IDE directly. Not sure if this could be considered as an enhancement request (@

[2022-02-18 15:09] pmaroneh commented on #885
Thanks for the suggestion @mikerife . I was indeed using these for local parameters, I just find it surprising that some parameters can be checked and some not. But as @akaszynski mentioned this is an issue with MAPDL directly, not pyMAPDL.

[2022-02-19 12:27] CesarRodriguezPereira commented on #904
Yeah, this issue happens to me, but if I had to guess I'd say it's probably more related with VTK than pyansys itself.

I run my pyansys sessions from an ipython notebook within VScode, and run the animations on different windows (as the inline animations don't work, at least within this IDE it just shows an static image until you interrupt execution). If you close the window that's showing the an

[2022-02-19 12:38] CesarRodriguezPereira commented on #905
Just my 2 cents, I think this may be good in the long run, but backwards compatibility might be a bit of a pain then. I'd say that most people that currently use PyMapdl are familiar with using the ```result = mapdl.result ``` idiom, which returns a type ``` ansys.mapdl.reader.rst.Result```, so many of us use pymapdl-reader unknowingly, instead of the postprocessing that's directly embeded within

[2022-02-19 13:08] akaszynski commented on #905
Agreed. Ideally the `result` attribute would be an instance of [ansys.dpf.core.model.Model](https://dpfdocs.pyansys.com/api/ansys.dpf.core.model.html?highlight=model#ansys.dpf.core.model.Model).

[2022-02-19 13:11] akaszynski commented on #904
@CesarRodriguezPereira, thanks for the clarification. I think when reporting errors it's super helpful to have the user context/environment so they can be reproduced and debugged by a developer.

@germa89, let me know if you can take a look at this. It's still in support of the legacy reader, but it seems that it's still quite popular until [pydpf-core](https://dpfdocs.pyansys.com/) can get animat

[2022-02-21 10:42] germa89 commented on #904
I will have a look as soon as I can

[2022-02-21 10:54] germa89 commented on #885
@mikerife  I found some info regarding that in the `Ansys Parametric Design Language Guide` in the section `5.3.2. Local Variables Within Macros`.
Is there any other place in the documentation I should look into?

I think we are just going to raise a warning if the user try to store a parameter which follows any of the patterns mentioned by @mikerife

[2022-02-21 13:21] akaszynski opened #917 "Implement pre-commit"
Implement a pre-commit using a modified form of https://github.com/ansys/ansys-api-template/blob/main/.pre-commit-config.yaml and https://github.com/ansys/ansys-api-template/blob/da21489c557d33c3928549e1e3d11de72206d545/.github/workflows/ci.yml#L12-L27

[2022-02-21 16:22] mikerife commented on #885
Hi @germa89 Yep, that is the help section.  Well maybe section 3.1 on parameter names as well.  Leading _ are reserved for Ansys Inc macros and ARG/AR can be tricky to use.  So normally we (in training, support etc) suggest using an _ somewhere.  For example instead of XMAX use X_MAX.  Or instead of AR10 use AR10_ etc if you want a global parameter.   *STATUS and *DEL have trailing _ specific beha

[2022-02-21 17:41] germa89 commented on #885
I see.... Based on your recommendations and my reading, now PyMAPDL raise an exception:
- If the parameter name starts with `_` and it does *not* ends on `_` too.
- If the parameter name starts with a number.
- If the parameter name is longer than 32 characters
- If the parameter name contains any other simbol than underscore (`_`), a letter or a number.

[2022-02-21 18:03] germa89 opened #918 "Warning when using `animate_nodal_displacement`"
[code]

Related to #904

[2022-02-21 18:07] germa89 commented on #904
It seems to be an issue with the legacy reader, more specifically, with the "loop" keyword. I believe that closing the window does not kill/close properly the background process which keeps updating the animation.

[2022-02-21 18:16] germa89 commented on #904
I'm not 100% sure, but I believe there is "close_window" event missing.

We should probably add something like:
[code]
to:

https://github.com/pyansys/pymapdl-reader/blob/61c5d7e90a64ba71198b1bbc3b1201036ea559e2/ansys/mapdl/reader/rst.py#L2840-L2842

[2022-02-21 18:24] akaszynski commented on #904
Good point.  @germa89, can you take care of that?

[2022-02-21 18:30] germa89 commented on #904
Will do my best.

[2022-02-22 14:03] akaszynski commented on #918
This should be moved over to `ansys-mapdl-reader`

[2022-02-22 14:04] akaszynski opened #920 "add split_sharp_edges in general_plotter"
`pyvista==0.33.0` has `split_sharp_edges`, which is great for displaying area or volume geometry when `smooth_shading=True`.

Let's require pyvista>=0.33.0 and add this in.

[2022-02-22 14:08] germa89 commented on #918
I agree.

[2022-02-22 14:24] #885 closed

[2022-02-22 14:35] germa89 commented on #920
Roger

[2022-02-22 14:58] germa89 commented on #903
I couldn't replicate this issue on my side.

I used the following code:
[code]

[2022-02-22 16:48] rlagha commented on #905
@cbellot000 please could you work with @germa89 on this?
@akaszynski

[2022-02-22 18:27] germa89 opened #922 "cpos is not updated after doing rotations"
It seems that `cpos` returned by the plotting functions is not properly updated.

## Example
[code]
The second `lplot` is not copying the `cpos`.

[2022-02-22 22:25] #922 closed

[2022-02-22 22:43] #920 closed

[2022-02-23 12:59] nmalsang opened #926 "Have endpoints on each products APIs to upload and to download easily the user data"
The Ansys products are launched with an endpoint from the API and run on a pod or a vm depending of the environment.
For now there is no easy way for a user to retrieve the data generated in the working directory of the product.
For some products as MAPDL or DPF there are already some endpoints that upload or download a specified file.
But the user needs to write some lines of code to download all

[2022-02-23 14:18] GuillaumeBURON opened #927 "matrix method sym hardcoded to return True"
**Describe the bug**
The method `sym` of class `AnsMat` from mapdl/core/math.py is hardcoded to return True. Bug confirmed with @FredAns

This is a problem for example when a matrix is not symmetric as it is used by `eigs` to choose the appropriate eigensolver.

**System Information:**
 - OS: Windows 10
 - Ansys version 2022R1
 - PyMAPDL version 0.60.6

[2022-02-23 14:21] FredAns commented on #927
Yes, it seems for now this property is hard-coded as Sym()=True in the python client code ( math.py).
I'm keeping it in mind, for a short-term update.
Thanks !

[2022-02-24 10:48] germa89 commented on #926
Hi @nmalsang

Isn't it [`Mapdl.download`](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.mapdl_grpc.MapdlGrpc.download.html?highlight=download#ansys.mapdl.core.mapdl_grpc.MapdlGrpc.download) what you are looking for?

Link: https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.mapdl_grpc.MapdlGrpc.download.html?highlight=download#ansys.mapdl.core.mapdl_grpc.MapdlGrpc.dow

[2022-02-24 10:51] akaszynski commented on #926
I think what he wants is something that's a bit more forward. For context:

[2022-02-24 13:01] FredAns commented on #927
This fix requires a change on the MAPDL server side, so it cannot happen before the next MAPDL 22.2 Release.

[2022-02-24 13:21] nmalsang commented on #926
Thanks Alex for forwarding our discussion. German don't hesitate to call me if you need.

[2022-02-24 15:00] germa89 commented on #926
@nmalsang

I could work in something like:

[code]

Does this cover your intended use?

[2022-02-24 16:36] nmalsang commented on #926
German,
Yes it looks good for me.
Thanks

[2022-02-24 20:03] germa89 commented on #926
@nmalsang  please have a look at the PR #928 and let me know your opinion.

Kind regards,

[2022-02-25 10:19] germa89 opened #930 "ValueError: Invalid matrix type “0" when calculating stiffness matrix"
"I created a simple model and I’m trying to extract its stiffness matrix. When I try to convert it to a scipy array I get an error message ValueError: Invalid matrix type “0”

![image](https://user-images.githubusercontent.com/28149841/155697981-d5317bca-0bee-4b9b-8fb9-245c36f4da9a.png)

Here’s a snapshot of the code and attached is the .full file that I’m using. Any idea what might be the issue?"

[2022-02-25 10:20] germa89 commented on #930
I believe this is related to no having the file `file.full` in the MAPDL working directory.

A possible improvement for PyMADPL will be to make `math.stiff` uploads the file if it is not found in the MAPDL working directory.

[2022-02-25 14:14] pmaroneh commented on #903
Thanks for looking into this @germa89 . That's crazy. Last week I could replicate that multiple times. And now I'm not able to replicate it either.... Sorry for wasting your time here.

[2022-02-25 14:14] #903 closed

[2022-03-01 16:58] germa89 opened #932 "`ipyvtklink` missing warning"
Failing to load `ipyvtklink`. This is a warning. Is it expected?

![image](https://user-images.githubusercontent.com/28149841/156213706-d9739716-0335-4466-9cf0-49b541e27130.png)

**Note**: Do not mind the pyvista deprecation warnings.

[2022-03-01 17:19] #926 closed

[2022-03-02 09:28] germa89 opened #934 "MAPDL not returning control to PyMAPDL after solve."
## Description

MAPDL seems to get "stuck" on PyMAPDL when solving the attached model.
The model does run when using MAPDL Classic, however it seems to get a bit "stuck" too. A zoom in/out seems to return the control to the MAPDL GUI, so I presume it is not a big/serious issue.

A normal command output (`file0.out`) should end in something like:

[code]

However in our case it does not go further

[2022-03-02 14:51] MaxJPRey opened #935 "Exclude files are not necessary."
Th `.pre-commit-config.yaml` file references cookie_cutter.
It must come from the `ansys-api-template` original `.pre-commit-config.yaml`.
I think that it could be deleted.

https://github.com/pyansys/pymapdl/blob/b4449f3c682e3ba2322cf9bbb1bc449211cc503f/.pre-commit-config.yaml#L6

[2022-03-03 09:54] akaszynski opened #937 "Install DPF within both the documentation and unit testing workflow"
To start shifting over to using DPF, we need to install DPF during our GH workflows.  For example, we would add it here in our documentation build:
https://github.com/pyansys/pymapdl/blob/4aa4afd49626d70b1516ac58c8738b6684abdc61/.github/workflows/ci.yml#L130

pinging @pprofizi

[2022-03-04 12:47] RienBoer opened #941 "Python stress plot and Ansys Mechanical APDL plot not equal"
Hi,

I was checking if the Postprocessing element stress plot was the same as the Ansys Mechanical APDL plot, but they are not the same. The color bars in both plots are the same, so they should be exactly the same.  The differences are also in two directions, so it is also not a problem with a shift in the color bars. Some elements in the Python plot show higher stresses than the results in the A

[2022-03-04 13:19] germa89 commented on #941
Hi @RienBoer

Could you share the MAPDL code (complete model) you used to generate the  MAPDL plot?

Regards,

[2022-03-04 13:56] cbellot000 commented on #937
@akaszynski, @germa89, @PProfizi a new github action has been created to install dpf server on linux and windows for Ansys 2022R1. You can refer to the ReadMe in[ pydpf-actions repo](https://github.com/pyansys/pydpf-actions) and ask @rlagha for a "DPF_PIPELINE" token to proceed

[2022-03-04 13:56] #937 closed

[2022-03-04 15:06] germa89 commented on #796
I believe this can be closed now thanks to @akaszynski

[2022-03-04 15:06] #796 closed

[2022-03-04 15:28] germa89 commented on #932
It seems more an issue of Pyvista, and it fallback to static image, which is fine.

If needed interactive plot, you can install it with `pip install ipyvtklink`

[2022-03-04 15:28] #932 closed

[2022-03-04 15:29] #917 closed

[2022-03-04 17:26] CesarRodriguezPereira opened #945 "SELTOL command not working, resets tolerance to default"
Issuing the command ```mapdl.seltol(toler)``` always resets the tolarence to default.
**To Reproduce**
Issue the seltol command. The returned string from the function will always say 'SELECT TOLERANCE SET TO DEFAULT'

**Expected behavior**
Tolerance value should be passed onto APDL instance. If blank (or maybe something like ```None```) it should reset to the default values.

**Screenshots**
![ima

[2022-03-07 11:55] germa89 commented on #945
Hi @CesarRodriguezPereira. You are right! This is going to be fixed in the PR 946. So please update your PyMAPDL in couple of days.

[2022-03-09 13:38] germa89 opened #951 "Using cache when building examples in documentation"
Currently the doc building takes quite a long time because it needs to solve al the examples in `Examples` folder which can be very time consuming.

We are going to cache the sphinx files so it will reuse most of the documentation (unless changed).

[2022-03-09 13:53] akaszynski commented on #951
Agreed. Recommend cache key is the version of the package (which will have to be dynamically loaded).

[2022-03-09 14:22] pmaroneh commented on #951
I think I know where this comes from ;-) But it is important to find a better solution, since more and more examples will be developed, and will probably become more complex over time to illustrate more complex situations.

[2022-03-09 14:24] #945 closed

[2022-03-09 14:33] #930 closed

[2022-03-09 17:03] germa89 opened #952 "Flexibilize the format number when using `_get_parameter_array`"
The format using for reading an array file is hardcoded in the code, it seems this could be an issue in the case of very big numbers, as #942 already pointed out.

A better solution should be used.

[2022-03-10 10:46] akaszynski commented on #934
We solved this with `non_interactive`, right?

[2022-03-10 14:44] mikerife commented on #941
Hi @RienBoer & @germa89 I find this question very interesting.  Is this possibly just a matter of not comparing the same shell results?  The structure looks like a shell model - is that correct? If so the MAPDL plot should be showing the top/bottom but the PyMAPDL is plotting the average by default.  Is that the midplane result by chance?

[2022-03-10 15:20] germa89 commented on #934
It seems it did not.

[2022-03-10 16:19] mikerife commented on #934
Hi @germa89 I can take a look at the mapdl model if needed.  Mike

[2022-03-10 16:49] gabrielmerlin opened #956 "MPI_Dist_graph_create not found in AnsMPI.dll"
When executing the command launch_mapdl(), a pop-up window appears specifying that MPI_Dist_graph_create is not found in the library AnsMPI.dll.

**To Reproduce**
[code]

**System Information:**
 - OS: Windows 10
 - Ansys version: 2021 R2 with student license
 - PyMAPDL version: 0.51.0

**Additional context**
The library PyMAPDL has just been installed and it is the first command that has been lau

[2022-03-10 18:19] germa89 commented on #956
Hi @gabrielmerlin

Well, that is an expected error. Can you try these things:
- First, I would update PyMAPDL, there have been tons of improvements in the last versions. Use `pip install ansys-mapdl-core --upgrade`
- Second. Since it is happening on the very beginning, can you:
    - Go to your ANSYS installation folder. In windows `C:\Program Files\ANSYS Inc\v212\ansys\bin\winx64`.
    - Open a p

[2022-03-10 18:32] germa89 opened #958 "Specification of type of license to use when launching mapdl"
#### == From internal email ==
(Copied and pasted as it is)

On our training course this morning they had license issues (Not enough available licences at their site and different licences available) and requested to have a feature like a list of licence priorities they want to check to get a licence from.

I think that this is a good feature request and it would be best if license_type is optiona

[2022-03-11 10:16] #951 closed

[2022-03-11 10:17] da1910 opened #959 "Add a local file path option for MPREAD"
**Is your feature request related to a problem? Please describe.**
Loading material cards into MAPDL provides the MPREAD command, which accepts a file path to a material card. This is currently only on the machine running the MAPDL instance. This means when running remotely, either in docker or otherwise, we need to mount our data files on the remote machine.

**Describe the solution you'd like**

[2022-03-11 13:56] #952 closed

[2022-03-12 21:22] da1910 commented on #827
This looks like it's recurred - see pressure vessel example, amongst others

https://dev.mapdldocs.pyansys.com/examples/00-mapdl-examples/pressure_vessel.html

[2022-03-14 11:11] da1910 opened #965 "Strange console output when opening MapdlGrpc in debugger"
**Describe the bug**
Expanding a MapdlGrpc object in the pycharm debugger outputs text to the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Run MAPDL docker container as per instructions
2. Connect a new pyMapdl session using `mapdl = Mapdl(ip="127.0.0.1", port=50052)`
3. (Possibly need to call `mapdl.prep7`)
4. Open the `mapdl` object in the debugger in pychark

**Expected behavi

[2022-03-14 11:24] da1910 opened #966 "PyVista deprecation warnings in examples"
The pyvista deprecation warnings reported in #827 have recurred, see for example:

https://dev.mapdldocs.pyansys.com/examples/00-mapdl-examples/pressure_vessel.html

[2022-03-14 11:24] da1910 opened #979 "PyVista deprecation warnings in examples"
The pyvista deprecation warnings reported in pyansys/pymapdl#827 have recurred.

[code]

See for example:
https://dev.mapdldocs.pyansys.com/examples/00-mapdl-examples/pressure_vessel.html

[2022-03-14 11:45] germa89 commented on #965
Hi @da1910

I haven't been able to reproduce this.

Could you clarify a bit more what do you mean with:

?

Do you mean print the object? In VSCode I don't see anything like:

[code]

[2022-03-14 14:56] germa89 commented on #965
### My observations:

- This is a Pycharm unique issue. It does not happen with VSCode.
- In my case, I could not see the mentioned `a b c` message, however I did have quite a few error messages stating `Empty records`
- The `empty records` issues might happen because PyCharm is called repeatedly the threaded function `_updated_cache_element_desc` which requests new `chunks` which are empty becaus

[2022-03-14 15:59] akaszynski opened #969 "Untracked files now showing up with local testing"
Tests with `test_math.py` are generating the following local files.

[code]

[2022-03-14 17:39] germa89 opened #971 "`mapdl.enum` returns a non-empty array when there is no-elements"
As the title.

It can be check using:

[code]

[2022-03-14 17:43] germa89 commented on #971
The problem is related with the `mapdl.get_array ("elem", item1 = "elist")` which does not return an empty array. It seems to be an issue with the MAPDL grpc interface.

I'm patching this up in PyMAPDL. Further improvements should be done in the MAPDL interface.

[2022-03-15 14:45] da1910 commented on #965
I'll check the PR branch for #972 out this afternoon and let you know if it fixes my abc issue

[2022-03-15 19:08] germa89 opened #975 "`MPREAD` does not work in PyMAPDL"
Because of `MPREAD` uses internally `/INPUT`, the instruction is not correctly passed through the gRPC API.

This should be fixed in the gRPC server, but I believe this is not achievable in the short term, hence I am planning to patch it in PyMAPDL.

### Steps to reproduce
[code]

[2022-03-15 20:33] germa89 opened #978 "Docstring injector"
Ideally we should have a way to inject information in the doc strings of functions we wrap.

[2022-03-16 11:37] germa89 commented on #966
This is a Legacy Reader issue. Transferring ...

[2022-03-16 16:51] germa89 commented on #934
Notes from conversation with @mikerife :

- The python process seems to be waiting for I/O.
- `anstmp` file has disappeared.

[2022-03-16 17:28] #975 closed

[2022-03-17 05:24] SairamPrabhakar commented on #504
Nice work, thanks. I tried several of the *GET inline functions and they work well. One suggestion: it would be helpful to document all that have been implemented. For instance, the docs do not state that enextn(node,loc) has been implemented, but it appears to be working just fine.

[2022-03-17 17:18] #959 closed

[2022-03-17 17:22] #971 closed

[2022-03-17 17:55] MaxJPRey commented on #935
This has been fixed in the pull request #936 .

[2022-03-17 17:55] #935 closed

[2022-03-17 20:09] koubaa opened #984 "inconsistent docker container location"
docker.pkg.github.com is used in the CI
ghcr.io is used in the README

This should be consistent

[2022-03-17 20:34] akaszynski commented on #984
True, and this was left over from the days of "pre" github container registry.

Assigning @germa89, unless I take care of it before the end of next week when he'll return.

[2022-03-18 09:15] plule-ansys opened #987 "Allow constructing MapdlGrpc from a GRPC channel"
**Is your feature request related to a problem? Please describe.**

Currently the construction of `MapdlGrpc` only allows to create an unsecure channel from an IP and port.

This prevents taking advantage of many useful features of GRPC:
 - Addressing MAPDL per host name instead of IP. In a managed environment such as docker-compose or kubernetes, you usually address service by a name like "mapdl.

[2022-03-18 10:40] connorourke opened #988 "Undefined symbol from pyvista import _vtk"
**Describe the bug**
Undefined symbol when importing ansys.mapdl.core

**To Reproduce**
Steps to reproduce the behavior:
Using v212 of Ansys, when I try to `import ansys.mapdl.core` i get the following error:

**Expected behavior**
The module should load

**System Information:**
 - OS: CentOS Linux 7
 - Ansys version v212 (install id - 202109161821)
 - PyMAPDL version (E.g. 0.59.1)

**Additional c

[2022-03-18 12:14] akaszynski commented on #988
Can you run the following?

[code]

[2022-03-18 12:16] akaszynski commented on #987
I agree with this approach. Adding this to the v0.62.0 milestone.

[2022-03-18 12:45] plule-ansys commented on #987
Thank you Alex. I'm doing a quick tour of the pyansys libraries to keep track on that.

[2022-03-18 16:02] connorourke commented on #988
The problem is that ansys has some libraries that are being used instead of the system library.

The error on import with it loaded is ImportError: /lib64/libXxf86vm.so.1: undefined symbol: _XGetRequest

Looking at the library:

`$ ldd /lib64/libXxf86vm.so.1    linux-vdso.so.1 =>  (0x00007fffba3db000)    libX11.so.6 => /apps/ansys/v212/Electronics/Linux64/defer/libX11.so.6 (0x00002ad08dad4000)

[2022-03-19 07:58] #979 closed

[2022-03-21 13:15] da1910 commented on #442
I've put together an outline for a pythonic wrapper for material and nonlinear model definition, it's a work in progress but any input would be gread @Benjamin-Conlon

[2022-03-21 17:20] lschuler1 opened #990 "impossible to obtain DOF ordering"
**Describe the bug**
I am not able to import a vector containing the degrees of freedom ordering. I have tried multiple functions, such as `connec=mm.get_vec(fname='file.full',mat_id='BACK',asarray=True)` which returns an empty array or `connec = mm.load_matrix_from_file(fname='file.full', mat_id='USR2BCS', asarray=True)` which returns me the error of the screenshot.

**Expected behavior**
I shoul

[2022-03-21 21:47] SairamPrabhakar opened #992 "License Check Timeout with version update"

[2022-03-22 04:35] #992 closed

[2022-03-22 04:37] SairamPrabhakar commented on #992
This was actually related to the fact that I was using launch_mapdl() as opposed to starting launching a gRPC MAPDL session and then connecting to it with Mapdl(). Closing the issue.

[2022-03-22 09:15] germa89 commented on #990
Hi @lschuler1, could you please share your `file.full` file so we can have a look?? Thank you

[2022-03-22 09:40] lschuler1 commented on #990
Hi @germa89, yes of course. I wasn't able to attach the file.full directly to this comment so here is a link to download it:
[https://filesender.renater.fr/?s=download&token=5dd31e40-0143-44eb-9176-871589c2d35d](url)

[2022-03-24 07:50] lschuler1 commented on #990
Hi @germa89, have you been able to have a look at the problem?

[2022-03-24 08:44] willi-z opened #995 "ESHAPE should enable thickness plots of shell elements"
When using SHELL-Elements with multiple layers `eshape` does not enable the plotting of the individual thicknesses.

Example:
[code]
Results in:
![pymapdl-shell](https://user-images.githubusercontent.com/66751989/159872628-87b5730b-80b2-4211-86e6-3b52d02efccf.PNG)
But it would be good if it looks more like:
![apdl-shell](https://user-images.githubusercontent.com/66751989/159875641-a3768a85-b610-48

[2022-03-24 09:30] akaszynski commented on #995
I fully agree with this; we're going to have to figure out how to send over the state of the shell elements and then enable this within our VTK plotter.

Adding this to the feature request list.

[2022-03-24 09:31] akaszynski commented on #990
@germa89 is out of the office at the moment. I might be able to find time for it this week, but it's more likely going to be next week.

[2022-03-24 09:42] akaszynski commented on #988
@connorourke, the issue is that we're using the VTK library here, and adding it as an optional dependency would remove this issue.

This has been on our "to-do" list for some time, and will require a bit of a refactor.

[2022-03-24 10:27] connorourke commented on #988
I managed to get it to work by sym linking the ansys library to point to the system library.

[2022-03-24 10:27] #988 closed

[2022-03-24 13:42] #987 closed

[2022-03-24 14:10] pmaroneh opened #997 "Different behavior between DMP and SMP"
I've been using this example: [MAPDL 2D Plane Stress Concentration Analysis](https://mapdldocs.pyansys.com/examples/00-mapdl-examples/2d_plate_with_a_hole.html#sphx-glr-examples-00-mapdl-examples-2d-plate-with-a-hole-py)
The plot I'm expecting to get is this one:
![image](https://user-images.githubusercontent.com/76440649/159934007-b6ee1e25-c49e-431b-807c-5568590a98a5.png)
However when I run this

[2022-03-24 17:51] willi-z opened #998 "Repeated running the same script can sometimes lead to different results"
If I run the following python script multiple times, without changing ANYTHING the outcome changes:
[code]
you would expect this:
![shell_sucess](https://user-images.githubusercontent.com/66751989/159978424-542eee5c-8981-4b4d-b472-38809766f4ef.PNG)

but somethimes you get this:
![shell_fail](https://user-images.githubusercontent.com/66751989/159978528-5407b16e-f80c-459e-afc5-5697e0d42692.PNG)

**S

[2022-03-24 22:39] akaszynski commented on #998
Issue seems to be a missing `mapdl.allsel()` after `mapdl.f("ALL", "FZ", 1 / n_nodes)`.

See updated script:

[code]

[2022-03-25 08:08] willi-z commented on #998
I am so sorry your are absolute right!
What still confuses me is, why the result was sometimes right.
I mean you would expect to get the wrong result all the time.

[2022-03-25 09:29] akaszynski commented on #998
I mean you would expect to get the wrong result all the time.

Interestingly, I always got the "wrong" result on Linux, which pointed me in the direction of checking the script.

I'm guessing there's either a MAPDL bug on Windows or there's some side effect with using PyMAPDL (you could always try to reproduce with a base input file to determine if that's the case).

Closing issue, thanks for post

[2022-03-25 09:29] #998 closed

[2022-03-25 23:12] mikerife opened #1001 "mesh.elem returns all zeros for element numbers"
**Describe the bug**
Field 8, Element Numbers, of mesh.elem are all zeros.

**To Reproduce**
Steps to reproduce the behavior:
1. Download zip file
2. Extract Jupyter Lab file from zip file and open in JL
3. Run all cells
4. Compare the MAPDL Element List with the mesh.elem listing.

**Expected behavior**.
Field 8, element number, is all zeros.  Should be numbers 1-4.

**Screenshots**
![image](http

[2022-03-28 16:31] germa89 opened #1002 "MAPDL nightly check is broken since #991"
MAPDL nightly check is broken since #991 was approved and merged.

The reason seems to be in the `test_database_start_stop` function.

[code]

I'm looking into this.

[2022-03-28 17:18] germa89 commented on #990
Hi @lschuler1

I did have a look at this issue:

### Regarding ``mm.get_vec``

PyMAPDL uses ``*VEC`` MAPDL function, which requires to use the right number format. Otherwise MAPDL shows errors (You can check this using MAPDL GUI).

The function `get_vec` (https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.math.MapdlMath.get_vec.html?highlight=get_vec#ansys.mapdl.core.math.MapdlMath.ge

[2022-03-28 18:01] germa89 commented on #990
### Regarding the second error:

When debugging I get `indices` and `vals` empty (See https://github.com/pyansys/pymapdl/blob/51f4cb5f5f718cf0747929b59120aef48816464d/src/ansys/mapdl/core/mapdl_grpc.py#L1985-L1987)
Even `indptr` is an array of `-1` which I'm not sure that is the intended behaviour.

To me,
- Either MAPDL is not reading properly the full file, but I doubt it because the `*SMAT` com

[2022-03-28 18:13] FredAns commented on #990
Hi All,

This is not a bug but a limitation. Even if you can load a "Numbering Mapping" matrix using the *SMAT command, they are not intended to be manipulate as Sparse matrices, You can only then apply such a mapping using the *MULT command. But actually such an operation internally is more than just a permutation.

Fred

[2022-03-28 18:38] lschuler1 commented on #990
Hi @germa89 and @FredAns,

Thank you very much for your help and your answers.

Louis

[2022-03-28 18:39] germa89 commented on #997
I did replicate this with my local machine:

[code]

[2022-03-29 08:23] #984 closed

[2022-03-29 10:09] lschuler1 commented on #990
Hi @FredAns ,
Sorry to bother you again. I imported the mapping "Nod2BCS" using the command
`map_bcs = mm.load_matrix_from_file(dtype='D', fname='file.full', mat_id='NOD2BCS')`
and then tried to use it to map a solution vector `Xbcs` (ordered in Solver ordering) to internal ordering with
`Xint = (map_bcs.T).dot(Xbcs)`
but I obtain a zero vector and MAPDL returns the following error:
![Capture d’éc

[2022-03-29 11:08] germa89 commented on #1001
Hi @mikerife

You are right. There is a mismatch in `mapdl.mesh.elem` between what the documentation says it returns:

[code]

and what it actually returns:
[code]
This is defined in the MAPDL Service mesh > `LoadElements`.

These have two solutions,
1. Change PyMAPDL docs to make sure it reflects what is currently returned, and don't touch MAPDL.
2. Change MAPDL to report more useful information

[2022-03-29 11:18] akaszynski commented on #1001
Best solution would be to change the implementation to match MAPDL's element listing.

For the time being, do as you recommended:

It's quite helpful to have that data accessible in a pythonic manner (e.g. as an array rather than an item in an item in a list), but it doesn't have to be a separate return.

[2022-03-29 11:40] germa89 commented on #990
Regarding:

Moving toward raise an `NotImplemented` exception when using "NOD2BCS" and "USR2BCS", since this feature is not properly working yet.

[2022-03-29 11:41] germa89 commented on #990
I'm going also to make default `np.int32` when using `BACK` in `get_vec`.

[2022-03-29 17:05] germa89 commented on #1001
As a temporal solution, and I have added the element number in the `mapdl.mesh.elem`  array at the 8th index (starting at 0).

We can discuss later how we can return this element information in a pythonic way.

[2022-03-30 02:14] dnwillia-work commented on #874
I agree this is a bit awkward.  The MAPDL documentation for all the commands is quite extensive and it seems a bit awkward to have to manually reproduce the content again here.  Is it possible to just copy of the APDL commands help into a bunch of rst pages and just repost it here?

[2022-03-30 09:08] germa89 commented on #874
It is possible to inject text in docstrings, we actually do it for some commands related to BC listing:

https://github.com/pyansys/pymapdl/blob/475a292a03f3fe25e6c3ef2e8d1a70aac0c730e5/src/ansys/mapdl/core/mapdl.py#L207-L244

I believe we should think on a reliable way to pass keep our docstrings updated. There have been some conversation with documentation and legal teams about publishing comman

[2022-03-30 10:40] germa89 commented on #1002
I am not sure anymore the reason is in that specific test.

However, it is clear the reason is the newly added database functions.

Running these tests in my local machine I keep getting this error:

![image](https://user-images.githubusercontent.com/28149841/160813141-6b4206ec-b8fc-414e-b2d6-e8269b3b397e.png)

Inspecting that file `fort.39`, I see:

[code]

It seems the output is diverted to this

[2022-03-30 11:13] #990 closed

[2022-03-30 11:16] akaszynski commented on #1002
@FredAns, is mapdl database broken in the lastest version?

[2022-03-30 11:42] dnwillia-work commented on #874
Yeah I think this will be kind of a per-product strategy in terms of how to do it but I agree.  Chatting with our documentation team the idea would just be to literally copy over the content wherever it's appropriate.

[2022-03-30 11:59] akaszynski commented on #874
We've received confirmation that the internal XML files are now permitted to be rendered to Python.

We now need an automated way of doing that per release, noting deprecated methods, and injecting or appending our customized `Examples`, and `Notes` sections within the documentation.

[2022-03-30 12:02] akaszynski commented on #997
I've also seen this behavior. Recommend ditching `ansys-mapdl-reader` and using either DPF or, because there's no DPF package at the moment, https://mapdldocs.pyansys.com/user_guide/post.html.

[2022-03-30 12:17] FredAns commented on #1002
What MAPDL Release is used ? ( Assuming it's windows here)

[2022-03-30 12:18] pmaroneh commented on #997
@akaszynski Are you sure that this issue is only related to the ansys-mapdl-reader? If so, should we rework this example to remove the use of the reader and replace it by mapdl post-processing ?

[2022-03-30 12:51] germa89 commented on #1002
Windows 11, Ansys v21.2

[2022-03-30 13:23] FredAns commented on #1002
Thanks German. This build did not changed since months now. Is it reproductible ?

[2022-03-30 13:56] lschuler1 opened #1008 "How to access to matrices created with *SMAT?"
Hi all,

I am a beginner with pyAnsys and I was wondering how to access to matrices created by the *SMAT command, for instance:
`mapdl.run("*SMAT,Nod2Solv,D,IMPORT,FULL,file.full,NOD2SOLV")`

I guess they are stored in the .full file but I don't see the vector name when I explore the .full file with `xpl`.

Thank you for your help.

[2022-03-30 14:15] akaszynski commented on #1002
It's broken on the latest MAPDL, so I'm guessing it's on both Linux and Windows on the latest.

[2022-03-30 14:42] germa89 commented on #1002
mmhhh....

But... my machine uses v212 (grpc 0.4.1) and Windows.

The PyMAPDL repo uses v21.1 and v21.2 with Linux, and the tests passes.

The nightly MAPDL check uses the private v22.1RC0 on Linux, and it is broken.

I can't see the pattern here.

[2022-03-30 15:06] FredAns commented on #1008
Hi,

These mapping operators are build on demand when calling the *SMAT command, they are not stored as this in the FULL files. Moreover, they cannot be manipulated and seen as sparse matrices ( export/print).
They are intended to be used with the *MULT command in MAPDL, as you can see in the ADPLMath documentation:
![image](https://user-images.githubusercontent.com/54932818/160866288-129dda5b-8ce

[2022-03-30 15:08] FredAns commented on #1002
Hi Alex,
Yes, the DB Server in 22.2 on Linux is broken when used through a grpc MAPDL Server.
I'm working on it.

[2022-03-30 16:44] akaszynski commented on #1008
Thanks @FredAns!

[2022-03-30 16:44] #1008 closed

[2022-03-30 16:47] akaszynski commented on #997
I'm reasonably certain, but I can't be sure. Try replacing this example with mapdl post-processing (using the `post` module) and we can verify it.

[2022-03-31 08:38] pmaroneh commented on #997
Sure, let me test that directly in MAPDL and work on modifying this example to use the post module.

[2022-03-31 21:07] Benjamin-Conlon commented on #442
@da1910 , Do you have a link to it so I can take a look?

[2022-04-01 12:42] koubaa opened #1011 "Ability to run pymapdl without installing pyvista"
I'm preparing a python environment that can't include pyvista + pyiges.  I installed pymapdl and all of its other dependencies manually and tried to run it, and got this error:
[code]

[2022-04-01 12:59] akaszynski commented on #1011
Yep, we need to fix that. There's a ton of dependencies that use it. @germa89, can you work on this?

First thing you'll have to do is disable import of `_get_sg_image_scraper` unless `pyvista` is available. Next, implement a lazy import of pyvista and pyiges. Finally, we'll have to decouple the usage of `ansys-mapdl-reader` with VTK.

[2022-04-04 10:12] lschuler1 opened #1014 "Work with 2 models at the same time"
Hi all,

I want to perform a coupled analysis of 2 models, let's say model 1 and model 2. From the solution of model 1, I change some parameters values of the model 2, and from the solution of model 2 and change parameters values of model 1.

The models are defined by input files that are quit large. Is it possible to not read them again every time I want to switch of model? For example by creatin

[2022-04-04 11:49] CesarRodriguezPereira opened #1015 "Result object serialization"
Hi everyone!

# Current state
Right now the results object gotten by running something like ``` result = mapdl.result ``` is probably the default way to post process models, and it works great for that. In my experience, it produces awesome plots, better than pure APDL would, and you get pyvista to manipulate them.

If you try to store a result object in a variable, you get the object "saved", but

[2022-04-04 12:17] akaszynski commented on #1014
Could you please post the full traceback here? It looks like there's an issue with the pool creation. Regular testing for the pool occurs on Linux, and it's irregular on Windows.

[2022-04-04 13:01] akaszynski commented on #1014
I see the issue. I'll patch this and have a release out shortly.

[2022-04-04 13:03] lschuler1 commented on #1014
thanks!

[2022-04-04 13:06] akaszynski commented on #1014
Before I implement it, could you please run the following?

[code]

[2022-04-04 13:17] lschuler1 commented on #1014
Actually, I am not able to launch mapl using launch_mapdl. I have to create a grpc instance on a terminal using:
`/ul/logiciels/ANSYS/ansys_inc/v211/ansys/bin/ansys211 -grpc `
and then connect to it doing

[code]
If I run
[code]
I obtain
![Capture d’écran du 2022-04-04 15-16-56](https://user-images.githubusercontent.com/102045126/161552152-0d91df84-bb69-497c-ae1e-a5825a312282.png)

[2022-04-04 20:02] koubaa opened #1016 "Indentation is incorrect in the UPF example"
See
https://mapdldocs.pyansys.com/user_guide/extended_examples/Python_UPF/python_upf_examples.html

in the section 3.2 userhyper.py

In two places - the indentation is incorrect, or at least appears to be in the documentation
`for i in range(5):`

and
`if oD1 > TOLER:`
![image](https://user-images.githubusercontent.com/11414628/161622569-cbf79299-d85e-4599-af39-ea3c25e750e3.png)

[2022-04-05 07:34] akaszynski commented on #1014
That's the issue. [LocalMapdlPool](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.pool.LocalMapdlPool.html) creates (and maintains) instances on the fly using [launch_mapdl](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.launch_mapdl.html) under the hood.

If you can get me the full trackback you get when you run `launch_mapdl`, I can fix it.

[2022-04-05 07:47] lschuler1 commented on #1014
Ok, I see. Here is what I obtain when I run the lines you asked
![Capture d’écran du 2022-04-05 09-46-36](https://user-images.githubusercontent.com/102045126/161704685-45809ac9-ecf6-4b2b-8fee-bf93b511039f.png)
:

[2022-04-05 07:55] akaszynski commented on #1014
@germa89, please prioritize this.

[2022-04-05 13:41] pmaroneh opened #1019 "Extended examples should be in Example section"
Currently the Extended examples (Brake Squeal, Cart-Pole, etc) are very difficult to find on the website as they are placed in the "User Guide" section. These examples should be in the "Examples" section so that new users can find them, or, if this is not possible, a new "Extended Examples" section should be added at the top next to Examples
![image](https://user-images.githubusercontent.com/76440

[2022-04-05 15:00] nmalsang opened #1020 "mapdl.download('all') and mapdl.download('everything') return errors"
**Describe the bug**
mapdl.download('all') and mapdl.download('everything') return errors:
- ValueError: The `'files'` parameter ('all') does not match any file or pattern.
- ValueError: The `'files'` parameter ('everything') does not match any file or pattern.

![download_errors_screenshots](https://user-images.githubusercontent.com/47447154/161781910-bcb99333-6fdb-4dcb-abdf-4112204a9c08.PNG)

**

[2022-04-06 10:09] germa89 commented on #1015
Duplicate of #727

[2022-04-06 10:11] germa89 commented on #1015
Hi @CesarRodriguezPereira

Thank you for posting this issue. This is something have thought about it, you can see more details of this in the mentioned issue.
So far, there is no intention to implement this. We might have a look in the future though.

Thank you again!

[2022-04-06 10:11] #1015 closed

[2022-04-06 11:23] germa89 commented on #1020
Hi @nmalsang

The documentation is not correct. It seems I forgot to update the "Example" section in the docstring.

As mentioned in #928 it is preferred to not use `'all'` and `'everything'`.

To download the whole working directory, use mapdl.download_project().

[2022-04-06 15:07] mikerife opened #1024 "Plot with savefig results in an attribute error"
**Describe the bug**
The plot (eplot, vplot etc) all result in an attribute error when saving the image to a file with this style:
mapdl.vplot("All", vtk=True, savefig='volplot.png')

**To Reproduce**
Open the attached JL notebook and run all cells.
Scroll down to end, will see plot in-line in notebook and long error messaging.

**Expected behavior**
No in-line image and plot saved to png file.

*

[2022-04-07 08:15] lschuler1 commented on #1014
@germa89 ,

Here is what I obtain. I don't see any environment variables:

-------------------------------------------------------------------------------
PyMAPDL Software and Environment Report
-------------------------------------------------------------------------------
  Date: jeu. avril 07 08:50:48 2022 CEST

                OS : Linux
            CPU(s) : 24
           Machine : x86_64

[2022-04-07 08:23] lschuler1 commented on #1014
When I do
[code]
`mapdl_a` is successfully obtained but not ```mapdl_b```. Maybe it is because it requires 2 ANSYS licenses? I think I only have one license.

[2022-04-07 10:09] pmaroneh commented on #1019
Hi @germa89 Yes, I remember that we talked about this and that there is a good reason to have the Extended Examples and the Examples separate. I believe it is very important to make the Extended Examples easier to find, as someone curious about the package will probably go straight to the examples to see what can be done with it. Since the Extended Examples are the most complex ones, they really h

[2022-04-07 10:34] germa89 commented on #1019
From the Sphinx-Gallery documentation (https://sphinx-gallery.github.io/stable/syntax.html#plain-rst-examples):

I think changing the place of the extended examples will require more work than expected. Maybe re-write the static examples as py files.

[2022-04-07 11:13] lschuler1 commented on #1014
Indeed, the second terminal returns an error:

![Capture d’écran du 2022-04-07 13-07-56](https://user-images.githubusercontent.com/102045126/162185794-c8f98179-5078-4005-b587-8d663fe90262.png)

Sorry, I didn't know it wasn't possible to create a mapdl pool with one license only.

[2022-04-07 11:23] germa89 commented on #1014
No problem! Your feedback will help to improve PyMAPDL so it is much appreciated!

[2022-04-07 11:47] germa89 commented on #1014
**I'm leaving this issue open** because it reflects that some changes should done to the license module and error handling.

[2022-04-07 12:50] pmaroneh commented on #997
To rule out any issue directly related to SMP/DMP, I've rewritten the model in pure MAPDL (code below). For a ratio of 0.01 I get the same stress concentration in SMP and DMP: STRESS_CON = 2.96185777. @FredAns I think that rules out any issue with the SMP/DMP distribution itself. @akaszynski I'll now check if I get better results with using the post module instead of the reader package.

![image](

[2022-04-07 13:06] pmaroneh commented on #997
@FredAns To be honest I simply focused on the stress ratio value because that's the one that is off. I haven't checked the other results.
Some new info on this : I simplified the problem to focus only on the case of a ratio = 0.01 (code below).
However with this it seems I'm not able to reproduce the issue anymore :
- With DMP:
![image](https://user-images.githubusercontent.com/76440649/162204624-

[2022-04-07 15:21] lschuler1 opened #1028 "Solving a linear system when having transferred the matrix to scipy and back to APDLMath gives different result"
**Describe the bug**
Solving a linear system when having transferred the matrix to scipy and back to APDLMath gives different result

**To Reproduce**
1. Download the .full file from:
https://filesender.renater.fr/?s=download&token=5587d11e-c6b6-49dc-a7db-1aca9a3afd31

2. Run the following code:

[code]
[code]

[code]
[code]

**Expected behavior**
Having the same values for `u` and `u2`

[2022-04-08 07:03] #1028 closed

[2022-04-08 22:42] #1024 closed

[2022-04-08 22:43] #1020 closed

[2022-04-08 22:43] #1016 closed

[2022-04-09 00:25] akaszynski opened #1031 "failed connection in unit testing yields bogus error"
When using `export PYMAPDL_START_INSTANCE=False`, you get an attribute error when you fail to connect:

[code]

[2022-04-09 00:53] #1001 closed

[2022-04-11 07:56] lschuler1 opened #1032 "Pass a vector as MAPDL solution"
Is there a way to pass a vector as a solution vector of MAPDL?
I have tried to pass nodal solution using `mapdl.dnsol` but it seems to be slow when there is a large number of nodes.

I would like to be able to pass a vector to mapdl as a solution of an electrical problem (voltage) to compute its space gradient (electrical field).

Thank you for your help

[2022-04-11 09:31] #1031 closed

[2022-04-11 09:33] germa89 commented on #1019
I was wrong, it is work, but not as much as expected.

Please @pmaroneh  could you have a look at #1029 and see if it is what you had in mind?

[2022-04-11 09:41] germa89 commented on #997
mmhh if it is not an MAPDL issue, it might be:

- MAPDL is receiving extra command in one the methods. I don't think so, but it could be ruled out by comparing the MAPDL logs in both cases (see `log_apdl` keyword in `launch_mapdl`).

- PyMAPDL is retrieving the data incorrectly from MAPDL. This might be the most probable option. But if PyMAPDL data processing does not change between SMP and DMP ve

[2022-04-11 09:52] pmaroneh commented on #1019
That's great news @germa89 ! #1029 is perfect!!

[2022-04-11 10:04] pmaroneh commented on #997
Currently I think that the issue is within the loop in the batch analysis. Indeed when I run a single case with a ratio 0.01 I get similar results in PyMAPDL and MAPDL in SMP and DMP. The analyses we should compare are : the PyMAPDL DMP run with a 0.01 ratio and the PyMAPDL DMP run with the list of ratios. I'll look into the log_apdl option to see if I can get any more insight on this.

[2022-04-11 11:53] akaszynski commented on #1032
Hi @lschuler1, this is a good feature request.

Can you give us a basic example that we can work with? Ideally something as simple as possible.

[2022-04-11 12:56] lschuler1 commented on #1032
Hi @akaszynski, here is a simple example. It doesn't really make sense to define the second problem as I did because it would be easier to change the load in MAPDL but that's just to illustrate my need.

[code]

[2022-04-11 13:30] akaszynski commented on #1032
Perfect. Thanks!

[2022-04-11 15:23] akaszynski commented on #1032
That's indeed much faster.

@FredAns, can we get a gRPC implementation of `*VPUT`?

[2022-04-11 15:29] germa89 commented on #1032
@akaszynski  I believe it should not be needed, because `*VPUT` will take an array (already in memory, transferred using the correspondent gRPC method), and it will overwrite the correspondent variable or results (already in memory).

What I want to say, I think `*VPUT` will work in memory, there is no transfer from PyMAPDL to/from MAPDL.

Thank you very much @RGPATCHI. Looking forward to see this

[2022-04-11 17:43] mikerife commented on #1032
Hi @lschuler1 can you please clarify if you want to compute a solution given an input Voltage or do you want to replace voltage results in the MAPDL database stored in memory?  DNSOL and *VPUT are for post processing only.  If you want to compute a solve based on nodal voltage inputs, load_table() would be the way to do this:

https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.Mapdl.l

[2022-04-12 08:47] germa89 commented on #956
Closing this issue because of inactivity. Feel free to reopen if new info appear.

[2022-04-12 08:53] germa89 commented on #1002
Any updates on this?

[2022-04-12 08:59] germa89 opened #1038 "API method to transfer arrays to the MAPDL instance"
### Current status
The way to transfer an array to the MAPDL instance requires to write a txt file and make MAPDL read it. This is encoded in the function:
https://github.com/pyansys/pymapdl/blob/f6bff6456959b8a7c2dd6e313749e7ebcccfc43e/src/ansys/mapdl/core/parameters.py#L393

### Desired solution
There should be a way to transfer arrays without having to write a file. A gRPC method should be impl

[2022-04-12 09:16] germa89 commented on #978
This might be replaced or maybe it will complement #874 when we start to work with the XML.

[2022-04-12 10:14] pmaroneh commented on #997
@germa89 I think you might have a point here, there seems to be an issue with the cache or something. This is what I have obtained (look at the results for the first ratio of 0.01 as it's the one I've been using to compare).
- Launch MAPDL inside loop in DMP: OK
![image](https://user-images.githubusercontent.com/76440649/162937657-99beefc5-5963-4e34-b406-a5e7509b305c.png)
- Launch MAPDL inside loo

[2022-04-12 10:48] germa89 commented on #997
The `mapdl.clear()` just issue the MAPDL command `/CLEAR` but it does not reset anything in the `mapdl` object, which means that the Python object stays the same.

One of the things that are cached is the mesh. So I would start to look into that. One way to check this is adding the next line:

[code]

This should reset the mesh cache. If the issue is there, you should see consistent results.

You

[2022-04-12 12:37] pmaroneh commented on #997
mapdl.mesh._reset_cache() does not seem to be sufficient. I ran the batch analysis several times and this is what I get:
- 1rst analysis, in DMP: OK
![image](https://user-images.githubusercontent.com/76440649/162963053-d1410aa0-09f0-42c2-af39-41a6fc78b60a.png)
- 2nd analysis in SMP : NOT OK
![image](https://user-images.githubusercontent.com/76440649/162963109-0bf45010-8c0e-4828-aa78-f7c11e927f5b.p

[2022-04-14 15:05] #1019 closed

[2022-04-18 07:29] germa89 commented on #934
Notes from conversation with @mikerife (part II):

- If added ``mapdl.ignore_errors = True`` before solving, it does not get hung up.
- It seems to be an issue with the ``SOLSH190`` elements. If replaced with 187 (10 node tet) and it ran fine. The solution with the ``SOLSH190`` does give multiple errors (some elements are turning inside out).  But the solver bisects the time increment and proceeds

[2022-04-18 14:07] germa89 commented on #787
Cancelled in favor of #786

[2022-04-18 14:07] #787 closed

[2022-04-18 16:06] amoghshejwal commented on #934
Findings from my testing:
- The issue appears to be with Reinforcement elements
- Once I suppress the reinforcement elements and run the model with just SOLSH190 elements, the model solves successfully

[2022-04-18 16:09] germa89 commented on #934
**NOTE**: This a probably a MAPDL issue in the API interface.
Because it solves correctly when using only the MAPDL commands. But there is nothing in the PyMAPDL that fires incompatibilities with SOLSH or reinforced elements.

[2022-04-19 08:57] germa89 commented on #1014
Hi @lschuler1

I have been having another look at this issue. It seems to me that because you have installed ansys in a "unusual" location, PyMAPDL have some troubles to load the ansys executables.

For example, when PyMAPDL loads (`ansys\mapd\core\__init__.py), it also create the variable `HAS_ANSYS`. This variable is created from calling `_version_from_path`. If ANSYS is not found in the usual l

[2022-04-19 15:26] germa89 opened #1048 "`mapdl.eplot` fail to plot `target170` elements"
## Fail

[code]
### Error
[code]

I haven't investigate it much. But it is very likely related with pymapd-reader.

[2022-04-19 15:50] germa89 commented on #1048
As expected, it is a ``pymapdl-reader`` issue. Transferring...

[2022-04-19 17:48] germa89 opened #1050 "Brackets and spaces not allowed when defining parameters"
The PyMAPDL does not allow array index for value assignment.

## Example

[code]

== From internal email ==

[2022-04-20 10:31] germa89 opened #1053 "Obtaining all type of parameters from `mapd.parameters`"
Currently only parameters shown by ``*STATUS,ALL` are shown when issuing ``mapdl.parameters``.

After #1052 is merged, this will be expanded to parameters which ends or starts with '_'.

However, it is not possible to retrieve yet parameters which starts AND end with '_'. Basically because of limitations in `*STATUS`.

However it is possible to retrieve individual parameters using ``*STATUS`` inde

[2022-04-20 11:23] germa89 commented on #1002
Closing this because #1051

[2022-04-20 11:23] #1002 closed

[2022-04-20 11:39] #1050 closed

[2022-04-20 12:06] germa89 commented on #941
Hi @RienBoer  any news about this??

[2022-04-20 13:26] #1014 closed

[2022-04-20 13:28] #965 closed

[2022-04-20 17:07] germa89 commented on #958
Due to different other priorities, this have to be postponed until further notice.

[2022-04-22 11:47] germa89 opened #1061 "``load_array`` test is showing some errors randomly"
I have some today some random errors in ``load_array`` function.

I am going to use this issue to track this down. Definitely it is related to the ``np.random.randint``, but I wonder why sometimes yes, sometimes not.
Furthermore, it does not fail in all the docker images.

Since I'm a bit busy right now, I'm going to wait for couple of fails more and see the pattern.

## Cases

### Case 1 - https:

[2022-04-22 13:19] MaxJPRey opened #1062 "Environment variable AWP_ROOT could be used to get Ansys root folder."
https://github.com/pyansys/pymapdl/blob/6a7e4f426b53ea34989da881e85718862bd232dc/src/ansys/mapdl/core/misc.py#L22-L33

The code could become something like:
[code]

[2022-04-22 13:24] MaxJPRey commented on #1062
AWP_ROOT might only be set when installing Workbench. I will double check.
I will also check ANSYS202_DIR that could be used.

[2022-04-22 14:10] akaszynski opened #1063 "Add PyAnsys badge"
Add the "PyAnsys" badge. See:
https://github.com/pyansys/ansys-templates/pull/69

<div>

<img src="https://img.shields.io/badge/Py-Ansys-ffc107.svg?logo=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAABDklEQVQ4jWNgoDfg5mD8vE7q/3bpVyskbW0sMRUwofHD7Dh5OBkZGBgW7/3W2tZpa2tLQEOyOzeEsfumlK2tbVpaGj4N6jIs1lpsDAwMJ278sveMY2BgCA0NFRISwqkhyQ1q/Nyd3zg4OBgYGNjZ2ePi4rB5loGBhZnhxTLJ/9ulv26Q4

[2022-04-22 19:18] akaszynski commented on #1062
@germa89, we should update and use the official Ansys env var instead of guessing the path. Users might not have Ansys installed in the default location (and developers often don't).

[2022-04-25 07:27] lschuler1 commented on #1014
Hi @germa89,

Yes, the first time I tried to use PyMAPDL, I put the wrong path. But then I modified it and put the right one (`/u/logiciels/ANSYS/ansys_inc/v211/ansys/bin/ansys211`).

I have tried today to delete the file `config.txt` and the to put the right path when starting again PyMAPDL.

The error I get when I try to create a MAPDL pool is different and related to the insufficient number of

[2022-04-25 11:45] germa89 commented on #1011
Regarding removing pyvista dependency from ``ansys-mapdl-reader``, I do not think that feasible:

![image](https://user-images.githubusercontent.com/28149841/165082501-7e6255d8-2895-4829-a9cd-80202addd049.png)

They are very tightly coupled. And since it is a package to be deprecated, I would not spend much time on that.

[2022-04-25 11:46] #1063 closed

[2022-04-25 12:50] herttim opened #1068 "pymapdl installation verification not possible"
By starting MAPDL from Python by running the following prompt, a **Value Error** in Python appears.
`from ansys.mapdl.core import launch_mapdl`
`mapdl = launch_mapdl()`

_Steps to reproduce the behavior:_
1. Install pyansys with `pip install ansys.mapdl.core` in anaconda prompt (Anaconda3)
2. Go to Spyder Python and type the prompt `from ansys.mapdl.core import launch_mapdl
mapdl = launch_mapdl()`

[2022-04-25 12:58] koubaa commented on #1011
@germa89 I can do without the reader

[2022-04-25 14:39] germa89 commented on #1068
Hi @herttim

Could you try to update ``numpy`` is:
[code]
Ref:  https://stackoverflow.com/questions/66060487/valueerror-numpy-ndarray-size-changed-may-indicate-binary-incompatibility-exp

[2022-04-25 15:38] SairamPrabhakar opened #1070 "Node components from input file"
When I read a .inp input file with mapdl.input( ), I get the mesh. But mapdl.mesh.node_components is null. If however, I use the ansys.mapdl.reader.Archive( ) function, I get the mesh along with node_components. Is this expected behavior? It looks to me that in both cases the same gRPC mesh is being queried for node components?

Observed in
MAPDL Version:       21.2
ansys.mapdl Version:  0.61.1

T

[2022-04-25 20:38] #1062 closed

[2022-04-26 05:22] herttim commented on #1068
Updating `numpy` worked for me. Now `numpy` is running on `1.22.3`.
`Product:             ANSYS Mechanical Enterprise Solver
MAPDL Version:       20.2
ansys.mapdl Version: 0.61.3`
Maybe an automatic update or match of different `numpy` versions could be useful while downloading for future.

Thank´s for your help! :)

[2022-04-26 08:22] germa89 commented on #1068
I'm happy it helps! We will review our numpy requirements. Thank you!

[2022-04-26 08:22] #1068 closed

[2022-04-26 08:23] germa89 commented on #1070
Hi @SairamPrabhakar ,

Could you provide some minimum working example to do our test with?

Kind regards,

[2022-04-26 19:42] mikerife commented on #1070
Hi @germa89 & @SairamPrabhakar Here is an example.  This caught my attention as the PyMAPDL docs do not shown an example of this; rather the "Reader" is used.  I took that to mean that node and element component listing is not yet in the mapdl.mesh class (MeshGrpc class?).  I went poking around the files and did not see the functions defined in mesh_grpc.py like they are in (pymapdl files>/mapdl/r

[2022-04-27 06:43] raviraj3997 opened #1074 "Some tbft commands are not working."
I was trying to create python (pyMAPDL) script from working mapdl script.
I translated the script form mapdl to pyMAPDL using below code. While running this code in jupyter notebook I observed that result is not correct.

[code]
Just to pinpoint the issues I printed out the output from each commands, some of the commands gave 'None' as output. However in mapdl this has some output. (Commands are m

[2022-04-27 16:31] mikerife commented on #1074
Hi @raviraj3997 AML,GENR are not options for the FADD operation when fitting Chaboche material model.  I've not yet tried your MAPDL script in MAPDL to see what happens.  Mike

[2022-04-28 05:46] raviraj3997 commented on #1074
Hi @mikerife, I am referring to the example in Ansys help at page (6.5.9.1) with some small change: https://ansyshelp.ansys.com/account/secured?returnurl=/Views/Secured/corp/v221/en/ans_mat/Hlp_AM_TMFMCF.html

Ravi

[2022-04-28 16:01] mikerife commented on #1074
Hi @raviraj3997 Sorry, I've not yet worked with the TMF material model and forgot about this feature!  It does look like an issue with the tbft command; if we use the run("tbft,....") style instead it works.  See the attached JL notebook.

@germa89  Could tblist be extended to include the to_list, to_array, to_dataframe methods as well?

Mike

[CASE_3_Edited.zip](https://github.com/pyansys/pymapdl

[2022-04-29 10:18] germa89 commented on #1074
I did a PR about this.

Hi @mikerife about using `to_list` in `tblist`. It could be done.

[2022-04-29 11:03] germa89 opened #1083 "``tblist`` having ``to_list`` and ``to_dataframe`` methods"
Mentioned in #1074 : https://github.com/pyansys/pymapdl/issues/1074#issuecomment-1112385305

Since the output of ``tblist`` is tabular-like, it will be nice to have something already parsed.

Example of ``tblist``

[code]

[2022-04-29 15:09] koubaa opened #1086 "scooby is used directly but not listed as a dependency in pyproject.toml"
This needs to be an optional dependency - just like pyvista and pyiges - because it would otherwise bring in MKL which is huge

[2022-04-29 15:12] koubaa commented on #1086
@akaszynski fyi

[2022-05-03 08:30] germa89 commented on #1061
I think the problem here is the shape of the returned array (``[[1.],[1.],[1.]]`` vs ``[1,1,1]``)

[2022-05-03 10:12] lschuler1 opened #1090 "warn function not imported"
**Describe the bug**
When I try to import the stiffness matrix from a file located in my Python directory (which is the same as my MAPDL directory), PyMapdl tries to send a warning message. However, the function warn is not imported, thus I have an error (see the screenshot below)

**Screenshot**
![Capture](https://user-images.githubusercontent.com/102045126/166436516-9f886f21-d64f-43eb-81e8-68a21

[2022-05-03 11:10] germa89 commented on #1086
``scooby`` is installed when ``pyvista`` is installed.

I'm going to do lazy import with scooby doo. If not present, it will raise an exception.

[2022-05-03 11:13] germa89 commented on #1086
decoupling ``pyvista`` is going to be complicated, the legacy reader still requires it, and this is the base for the ``Results`` object.

I need to hurry up with https://github.com/pyansys/pymapdl_roadmap/issues/2

[2022-05-03 11:19] germa89 opened #1093 "Labeler is using wrong labels, and bad triggering"
Check #1092

![image](https://user-images.githubusercontent.com/28149841/166443916-63814d28-3a90-4c64-b939-9f694ba0495e.png)

It is also triggered although I did have applied ``enhancement` label.

[2022-05-03 11:22] jorgepiloto commented on #1093
Let me investigate a bit more about this, @germa89.

[2022-05-03 11:34] germa89 commented on #1093
Hi @jorgepiloto

I think the issues are:
- new labels: https://github.com/pyansys/pymapdl/blob/9879740360c837e7722afefe18cf975b8e7b888f/.github/workflows/label.yml#L46-L47
We should probably remove the "-"

- Regarding the triggering. I believe the condition is not properly evaluated.
Maybe it should be something like this:
[code]
#### References
* https://stackoverflow.com/a/71862875/6650211

* h

[2022-05-03 11:43] germa89 commented on #1090
You are right. Thank you for reporting!

[2022-05-03 11:47] germa89 commented on #1061
Definitely it is a shape problem

[2022-05-03 12:10] jorgepiloto commented on #1093
That's right, those hyphens need to be removed from the label's names. Regarding the second comment, it's true that the current condition is not working as expected. I checked this in demo branch https://github.com/pyansys/pymapdl/pull/1096. Will apply the suggested changes.

[2022-05-03 13:45] germa89 commented on #1061
Discovering that:
[code]
but

[code]

[2022-05-03 13:58] germa89 commented on #1061
Questioning this;
https://github.com/numpy/numpy/issues/21432

[2022-05-03 14:33] #1093 closed

[2022-05-03 15:06] koubaa commented on #1086
@germa89 I will need a new version in PyPI once this issue is fixed

[2022-05-03 21:50] #1086 closed

[2022-05-04 01:46] yoyomule opened #1099 "pyansys read the analysis results of ansys (such as file.rst) and export it as vtk"
I hope that pyansys can read the analysis results of ansys (such as file.rst) and export it as vtk, or gltf. In short, it is hoped that the analysis results can be output in a way that supports webgl browsing.
Thanks.

[2022-05-04 07:39] pmaroneh commented on #1099
Hello @yoyomule , indeed it is possible to open an .rst file and export a plotted result to a vtk file. This should be done with the DPF package.
Code sample below:

`from ansys.dpf import core as dpf
my_file_path = r'D:/test/export/file.rst'
my_data_sources = dpf.DataSources(my_file_path)
my_model = dpf.Model(my_data_sources)
my_mesh = my_model.metadata.meshed_region
u_op = my_model.results.displ

[2022-05-04 14:22] mikerife commented on #1099
Hi @yoyomule Perhaps this question is better suited for the Discussion page.  But I don't know how to move/edit it.  We are working on a PyMAPDL class now and this is in one of the examples.  Please see the PyMAPDL documentation page on the mesh.grid and save:

https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.mesh_grpc.MeshGrpc.grid.html

mesh.grid gives a VTK representation of the

[2022-05-05 01:30] yoyomule commented on #1099
@pmaroneh @mikerife Thank you, this gave me new ideas to solve my problem.

[2022-05-06 07:50] #1090 closed

[2022-05-06 11:24] #1074 closed

[2022-05-06 11:31] germa89 opened #1101 "Unified file path checker"
Currently almost every function has a different way to check if a file exists or not, and to upload it or not to the MAPDL instance. A first atemp was made with ``ansys.mapd.core.misc.load_file`` but this should be improved and extended.

## Features
- [ ] It should detect if in local or remote.
- [ ] In case of local, it should pass the full path to the MAPDL instance. Not uploading the file.
- [

[2022-05-06 12:35] germa89 opened #1102 "Unmatch between ``mapdl.mesh.grid`` and ``mapdl.mesh``"
In the attached model, ``mapdl.mesh`` and ``mapdl.mesh.grid`` give different results:

[code]

This mainly because ``TARGE170`` is missing in ``_parse_vtk`` in the pymapdl-reader.
See https://github.com/pyansys/pymapdl-reader/pull/129

However, using a pymapdl-reader development branch (``feat/adding-target170-elements``), I still have different numbers:

[code]

The issue is mainly with the numbe

[2022-05-06 12:45] muruep opened #1103 "Issue running Pyansys"
I am running Pyansys in Visual Studio, Windows 10 x64 and ANSYS 2021 R1.

When I run the code, MAPDL starts in background but never finishes running. The code is correct, as I have used it in other computers. If a run just a few lines of code:

[code]

it happens the same thing.

I attach pictures of the files created and the Python screen.

![y](https://user-images.githubusercontent.com/92093980/

[2022-05-06 13:08] mikerife commented on #1103
Hi @muruep Try finishing out of prep7 and exiting MAPDL like so (also you may want to update PyMAPDL):

from ansys.mapdl.core import launch_mapdl
mapdl = launch_mapdl(run_location='K:\Uruena_MA_DG\FEM\WORKING DIRECTORY')
print(mapdl)
mapdl.run('/PREP7')
mapdl.finish()
mapdl.exit()

Mike

[2022-05-06 13:36] muruep commented on #1103
Hi Mike,

Thanks for your answer.
I get the same Python screenshot and this files are created. ANSYS is opened in the background but it does not close.
![pyansys](https://user-images.githubusercontent.com/92093980/167143827-faf8b61d-4e8a-41a4-a5ff-b4e15d7df3a1.png)

[2022-05-06 14:29] mikerife commented on #1103
Hi @muruep Ok let's try this.  Use this option in the exit command:

mapdl.exit(force=True)

What happens?

[2022-05-06 16:16] jorgepiloto opened #1104 "Migrate code style config to pyproject.toml"
🐞 **Problem**

At the moment, all the configuration for the various code style tools is defined in the `.pre-commit-config.yaml` file. Although useful, this is not an official Python file. If one wants to run one of the tools in an isolated way, this tool will not be able to read its own configuration.

💡 **Solution**

A solution is to move all configurations to the `pyproject.toml` file. This int

[2022-05-06 16:26] muruep commented on #1103
Hi @mikerife
The same as before happens.

[2022-05-06 17:14] mikerife commented on #1103
@muruep It does not look like you are actually running just the following:

from ansys.mapdl.core import launch_mapdl
mapdl = launch_mapdl(run_location='K:\Uruena_MA_DG\FEM\WORKING DIRECTORY')
print(mapdl)
mapdl.run('/PREP7')
mapdl.finish()
mapdl.exit()

This should result in only the db, log, err and out files being created.  Not files associated with solving like esav, full, DSPmatk, rst, etc.

[2022-05-07 10:29] germa89 commented on #1103
Hi @muruep

Can you attach all the files ending in ``.out``, ``.inp`` or ``.err``? So we can have a better look.

As @mikerife  says, you need to issue ``mapdl.exit()`` to end MAPDL instance. I see there is solving files and a lock file. Try a new empty folder and tell us if the MAPDL instance starts and die as expected.

[2022-05-09 17:13] mikerife opened #1107 "Value Error if defining a parameter in the Begin level"
**Describe the bug**
Defining a parameter at the begin level results in an error.  Parameters are allowed to be defined in any processor in MAPDL.

**To Reproduce**
Steps to reproduce the behavior:
Download and restore the attached JL.  Run the first two cells.

**Expected behavior**
Expect that  the parameter would be defined

**Screenshots**
If applicable, add screenshots to help explain your pr

[2022-05-09 17:18] akaszynski commented on #1107
@germa89 or @pmaroneh, please follow up when you get a chance.

[2022-05-09 20:15] germa89 commented on #1107
Done.

BTW, we do not have ``ansys-mapdl-core`` in the report?!?! 🤦

[2022-05-09 22:01] #1107 closed

[2022-05-10 13:41] germa89 opened #1113 "PyMAPDL connect to existing instance instead of creating a new one"
=== From internal feedback DK ===

If you have a PyMAPDL session running:

[code]
and run another session:
[code]
the later will connect into the former, which is not desirable.

[2022-05-10 13:42] germa89 commented on #1113
I need to have a look at this and see the implications. I'm creating this issue to raise visibility.

[2022-05-10 13:46] germa89 opened #1114 "``mapdl.non_interactive`` crashes randomly"
=== Reported internally DK ===

It seems that running many times with the ``mapdl.non_interactive`` generates a ``MapdlExitedError`` error.

[code]

## Code:
[code]

[2022-05-10 14:56] mikerife commented on #1103
Hi @muruep I took a look at the files and a solve is definitely being done on a non-linear model.  So it makes sense that PyMAPDL was not responding for some time.

I think we can force an update using:
pip install ansys.mapdl.core -U

Otherwise I really don't see an issue here.

Mike

[2022-05-10 15:18] muruep commented on #1103
Hi @mikerife

That's good news. I let my script run for a long time and it makes no change. I also tried using more than 2 cores but the APDL Butch always runs with 2 of them. I tried

mapdl.dspoption('','incore','')

and setting in the launch app, but nothing works.

[2022-05-11 09:25] germa89 commented on #1102
It seems related to elements 170 and 174. Probably related to: https://github.com/pyansys/pymapdl-reader/pull/129

[2022-05-11 11:20] lschuler1 commented on #1114
Hi @germa89,
I think I observed the same behavior (mapdl crashing randomly) but without using `mapdl.non_interactive`.
I am using mapdl version 0.61.3, and for instance I get this error when running a code that was working:
![05-11-22](https://user-images.githubusercontent.com/102045126/167837395-f85964f7-36a5-4159-9a42-2688057aa61c.png)

[2022-05-11 15:16] koubaa commented on #1011
with the latest package I still have this issue:

CRITICAL -  -  logging - handle_exception - Uncaught exception
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\mkoubaa\Downloads\7000535.site\ansys\mapdl\core\__init__.py", line 32, in <module>
    from ansys.mapdl.core.launcher import (
  File "C:\Users\mkoubaa\Downloads\7000535.site\ansys\mapdl\core\launc

[2022-05-13 11:19] #741 closed

[2022-05-16 20:55] mikerife commented on #997
Hi All @germa89 @pmaroneh @akaszynski @FredAns
I think this comes down to MAPDL not storing mid-side node results.  If we change the element type used to Plane182 then the results are consistent SMP vs DMP vs hand calc.

I made the following change to the post-processing section; kept the Plane183 element type; and retested.  As far as I can tell the results are still consistent.  But one of my ru

[2022-05-16 22:57] mikerife commented on #997
Hi All
I've fallen in love with the to_array() modifiers!  The following post-processing should work as well with high-order elements:

 # Post-Processing
    mapdl.finish()
    mapdl.post1()
    mapdl.set('last','last')

    # compare to the "far field" stress by getting the mean value of the
    # stress at the wall

    von_mises = mapdl.post_processing.nodal_eqv_stress()
    max_stress = np.na

[2022-05-16 23:37] mikerife commented on #997
Hi All
Sorry last post.  Looks like the PyMAPDL Reader does not like when the combined and core rst files exist.  We can use the dmpoption to keep the combined rst and delete the core rsts (or visa-versa):

mapdl.run("dmpoption,rst,yes,all,yes")
mapdl.solve()
mapdl.finish()
result = mapdl.result ......

And the DMP matches the SMP results.
Mike

[2022-05-17 07:54] germa89 commented on #997
Hi @mikerife

Thank you VERY much for working on this.

For the record, what do you think we were doing wrong? or what was the reason for the discrepancy between SMP and DMP?

Kind regards,

[2022-05-17 08:15] pmaroneh commented on #997
Hi @mikerife Thanks so much for looking into this. I've ran your notebook several times in a row and do get the same results for all batch runs. We definitely should replace the example by this modified version.
As @germa89 ,  I'd still like to understand what was going wrong with the previous version, especially as the discrepancy would occur only when the run was launched several times. If you h

[2022-05-17 10:48] raviraj3997 commented on #1074
Thanks @mikerife for looking in to it. Yes it works fine with mapdl.run("......")

[2022-05-17 16:41] mikerife commented on #997
Hi @germa89 & @pmaroneh
Here is what seems to be happening:

1 The first time through the MAPDL code only the core rst files exist.
2 Once MAPDL is finished out of the solution processor it combines the core rst files into one rst file.  So now file.rst exists.
3 The second time through the MAPDL code the updated core rst files exist, but also the combined rst file from the prior time though the M

[2022-05-17 19:02] Clauperezma opened #1124 "Low-level communication error by usign pyansys"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

I am making a code in pyansys, and it works fine for a certain element size. When I try to decrease the element size to have more accuracy, python shows me this error:

[code]

If I stop the code before solving and use Mapdl.open_gui() to acces

[2022-05-17 20:35] Clauperezma commented on #210
I´m having the same problem. Any idea how to fix this?

[2022-05-17 21:54] germa89 commented on #997
That's very interesting...

I wonder who we could "expose" that strange behavior in PyMAPDL/Reader. Do you think we should enforce the reader to read the most recent RST database for example? Or maybe, warn that there are several options, and then use one of them?
What do you think?

Because to me that behavior is not natural for a pythonic (normal?) user. I would like to minimize its impact as mu

[2022-05-18 14:57] germa89 commented on #958
Temporal solution for this:

[code]

[2022-05-18 22:04] germa89 opened #1125 "Add PyMAPDL Lathe Cutter example"
### Description of the feature

As the title.

### Steps for implementing the feature

Just do it.

### Useful links and references

N/A

[2022-05-18 22:10] germa89 commented on #1124
Is there any output files? (``out``, ``err``) Can you attach them to this thread?

[2022-05-19 10:38] RGPATCHI opened #1127 "When extracting forces using mapdl.flist().to_dataframe() the first row shows an incorrect information (version number insted of node id)"
**Summary**
If I add some forces to some nodes and try the below, I see that that first row gives incorrect node ID and its actually the version of ANSYS splitted and reported.

[code]
**Result**
![image](https://user-images.githubusercontent.com/84843983/169274513-b5b42462-af83-4f61-be95-4fe6372ce9d1.png)

**Script to Reproduce**
[code]

[2022-05-19 10:50] germa89 commented on #1127
Hi @RGPATCHI

I'm aware of that bug, and it was fixed in #1055. It is expected to be included in the next release (probably end of week)

[code]

[2022-05-19 10:51] #1127 closed

[2022-05-19 10:54] RGPATCHI commented on #1127
Hi German,

Perfect. Thank you for letting me know.

Best regards,
Rohith

[2022-05-20 15:14] mikerife commented on #1124
Hi @Clauperezma What element size results in the error?  And please be specific on which variables to change (just in case).  Also which solve?  There are six solves.  Always the first?
Mike

[2022-05-20 17:27] maximepollet27 opened #1128 "Errors when loading meshes from .cdb files when using multiprocessing"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

Hi,

For my work, I need to run many FE analyses (several thousand), and I have been using pyansys (I love it btw :)). As time matters, I have been exploring various methods for optimizing the speed. In particular, I am loading pre-made meshes

[2022-05-20 17:37] Clauperezma commented on #1124
Hi Mike! the element size that results in error is 0.25 (I try any values below 0.4, It will have problems). The variable size is etam. If the element size is 0.5 works without problems. The code was design to restrict the dispplacement in the node (0,0) so if the element size changes the mesh in a way that there is no node at (0,0) the code will have problems. The solve where it crashes varies, i

[2022-05-20 20:11] Clauperezma commented on #1124
Hi @germa89!, Excuse my delay in responding. I am new to using pyansys and I have tried to write a log file, but I have not succeeded.

[2022-05-20 20:52] mikerife commented on #1124
Hi @Clauperezma are you using version 2020 R1 or earlier?  I replaced the NSELs in the ceRVE with a query on the node nearest to (0,0,0) to define the boundary condition and cannot get this to fail.  But I am using 2022 R1 which uses gRPC instead of Corba.

I tried installing Python 3.8, MAPDL 2020 R1 and launching in Corba mode but keep running into errors on my end launching.  MAPDL aaS starts b

[2022-05-22 11:56] bedermaus commented on #599
Posted why it happens here:

https://github.com/pyansys/pymapdl/discussions/1121#discussioncomment-2798928

[2022-05-23 10:40] germa89 commented on #1128
Hi @maximepollet27

Thank you very much for posting this issue.

It is indeed a permission error. When using ``mapdl.cdread`` PyMAPDL resources to ``mapdl.input`` which generates a file ``_input_tmp_.inp`` in the Python Working directory where it writes some commands (hence the ``"w"`` in that line you mentioned). Since you have two pools, and both with the same Python working directory, both proc

[2022-05-23 10:50] germa89 commented on #1124
Exactly those files. They should be in ``mapdl.directory``.

As @mikerife  mentioned, if it is because there is no node selected, you can pick the closes node by adding:
[code]
See the details in: https://mapdldocs.pyansys.com/api/inline.html#ansys.mapdl.core.inline_functions.Query

The problem about the CORBA, will need the ``out``, and ``err`` files.

Anyway, why are you not using the default (a

[2022-05-23 11:11] germa89 commented on #1114
mmhh... without using ``non_interactive``?? ... If you can, can you upload your code here, so I can have a look??

[2022-05-23 16:41] Clauperezma commented on #1124
Thanks @germa89 for all your information. I will make the changes to use gRPC instead :).

[2022-05-24 08:37] maximepollet27 commented on #1128
Hi @germa89

Thank you for being so quick to reply!

[2022-05-25 15:29] germa89 opened #1136 "Inheritate ``Parameters`` from ``dict`` class"
### Description of the feature

As the title.

### Steps for implementing the feature

Subclassing

### Useful links and references

_No response_

[2022-05-25 15:35] #1125 closed

[2022-05-25 18:57] #786 closed

[2022-05-26 11:03] da1910 opened #1138 "Poor appearance of tooltips in Gallery Examples"
It looks as though the examples gallery generates a tooltip by taking the first section of the source file. In some cases this appears OK, but is often truncated unhelpfully. In others it includes raw markup and little information of value.

Are we able to specify the content of the tooltip separately? Otherwise we ought to consider standardising the first couple of lines of the examples to be rea

[2022-05-27 18:25] germa89 opened #1140 "Nightly documentation build process failing"
https://github.com/pyansys/pymapdl/runs/6620214034?check_suite_focus=true

[2022-05-27 19:45] #1140 closed

[2022-05-30 07:53] germa89 commented on #1138
Ping @Revathyvenugopal162 and @jorgepiloto as main experts in documentation and sphinx

[2022-05-30 08:35] da1910 commented on #1138
It looks like this is a known issue on the sphinx-gallery side, and the workaround is to use their preferred format for the first section label:

https://github.com/sphinx-gallery/sphinx-gallery/issues/136
https://github.com/sphinx-gallery/sphinx-gallery/issues/232

etc.

[2022-05-31 09:51] da1910 opened #1147 "Fix Prospector Rules to Reduce Dross in Codacy Reports"
**Is your feature request related to a problem? Please describe.**
Codacy currently reports bad code style on almost all PRs

**Describe the solution you'd like**
Configure inspection profile for tools run by codacy to remove all the false positives. For example D213 which complains that all multi-line docstrings have no line break before the summary.

**Describe alternatives you've considered**
D

[2022-05-31 14:41] koubaa opened #1150 "Make PIM optional"
### Description of the feature

This adds a dependency on google-api-python-client which is not desirable since it has a large physical size.

### Steps for implementing the feature

.

### Useful links and references

_No response_

[2022-05-31 19:20] #1150 closed

[2022-05-31 19:22] koubaa opened #1152 "run() without pyvista leads to an unecessary warning"
using `run()` without pyvista leads to warning messages

[code]

The reason appears to be the _reset_cache() function in mapdl_grpc.py reads from the mapdl.geometry property which tries to construct a Geometry object that depends on pyvista.  I think it can be fixed by mapdl_grpc.py holding a member variable for that is initailized to None and used by the geometry property on first access.

[2022-05-31 20:56] mikerife commented on #997
Hi @germa89 I'm inclined to keep the behavior as-is.  Especially if the Reader will be deprecated.  But there can be other conflicts - like Python having access to a rst file then trying to use the MAPDL /DELETE to delete the rst file (maybe to clean up a folder for reuse in design point processing).

[2022-06-01 09:56] germa89 opened #1154 "`require_package` decorator should work also with functions"
and maybe accept list of packages too?

[2022-06-01 11:20] germa89 opened #1155 "PR labeler commenter does not work"
The PR #1153 wasn't labeled (ok, it didn't match labeler changes) but there was no comment to ask for labels either.

## References

https://github.com/pyansys/pymapdl/pull/1153

https://github.com/pyansys/pymapdl/runs/6677538794?check_suite_focus=true

https://github.com/pyansys/pymapdl/runs/6677316055?check_suite_focus=true

[2022-06-01 11:22] germa89 commented on #1155
I realised because if there is no label, it won't appear in the release changes.

[2022-06-01 11:24] #1011 closed

[2022-06-01 11:27] germa89 commented on #997
I see. To be honest, I trust your judgment. Let's keep it as it is and close this issue.

[2022-06-01 11:27] #997 closed

[2022-06-01 11:39] germa89 opened #1156 "Download page option"
From https://github.com/pyansys/pymapdl/discussions/1139

[2022-06-01 14:26] raphael-31 opened #1157 "Matrix multiplication from MAPDL doesn't match matrix multiplication from scipy and numpy"
**Describe the bug**
Hi,
I am working on the resolution of eigen problem to find the added mass of a system. I have a problem with a simple matrix multiplication. The use of the .dot method from the math module of MAPDL dosen't give the same result of multplying matrix with numpy. So I canno't verify that the eigenvalue is verified with the APDL math matrix converted as array.

**To Reproduce**
St

[2022-06-01 15:09] natter1 opened #1158 "example in nplot() documentation broken"
https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.Mapdl.nplot.html#ansys.mapdl.core.Mapdl.nplot

Example is broken:

[code]
`plot_labels` -> `plot_bc_labels`

[2022-06-01 15:14] akaszynski commented on #1158
Thanks for pointing that out!

[2022-06-02 04:06] mikerife commented on #1157
Hi @raphael-31 I'm very new to Numpy/Scipy and so while this is a shot in the dark, I've done some testing that seems to confirm.  Been lost in the Numpy/Scipy documentation and have not found an definitive statement about this.  Anyway the MAPDL stiffness matrix is (I'm guessing here but it seems to be by the description) symmetric.  One of the symmetric modal solution types was used to solve cor

[2022-06-02 05:37] Sun1ICE opened #1160 "call LocalMapdlPool in a loop, Unable to connect to MAPDL gRPC instance"
### Before submitting the issue

- [X] I have searched among the existing issues
- [ ] I am using a Python virtual environment

### Description of the bug

I try to call LocalMapdlPool in a loop, and create folders for multiple process calculations in each loop. But an error will be reported in the second or third cycle.

![1](https://user-images.githubusercontent.com/87845860/171558139-d8d578e7-4

[2022-06-02 11:29] germa89 opened #1162 "Using overloaded operators"
After seeing #1149 , I thought we could use something similar:

[code]
and maybe:
[code]

I'm not 100% convinced, so some feedback is appreciated.

[2022-06-02 11:30] germa89 commented on #1162
Pinging @akaszynski  @koubaa  @FredAns @pmaroneh for visibility

[2022-06-02 11:33] koubaa commented on #1162
@germa89 I definitely will miss being able to write MAPDL commands in a shell style without objects or function invocation.

Why not just go all the way and implement an MAPDL shell in python using cmdloop.  I can show you how.

[2022-06-02 11:34] germa89 opened #1163 "`mapdl` working directory should be python working directory."
### Description of the feature

`mapdl` working directory should be python working directory.

Hence this should be possible:

If our python cwd is: ``C:\python_cwd``, and we want to input something in ``C:\python_cwd\files\file.cdb``, then you should be able to do:
[code]

### Steps for implementing the feature

We need to modify ``mapdl.input``.

### Useful links and references

_No response_

[2022-06-02 11:40] germa89 commented on #1162
@koubaa  I like the idea of getting rid of ``mapdl.`` in each command. I would like to test the idea of a shell like PyMAPDL.

Even more, I guess ``cmdloop`` could be also used with a context manager so we can have something like:

[code]
It think this will be quite useful too.

[2022-06-02 11:44] koubaa commented on #1162
@germa89 actually cmdloop is more of an interactive thing that would behave more like this:

[code]

[2022-06-02 11:50] koubaa commented on #1162
@germa89 Another way closer to what you suggest is to use a contextmanager to override globals during the context

[code]
where mapdl.context is a ContextManager that makes a cached copy of globals(), then adds all commands bound to itself to it.  when the context manager exits, it restores the cached globals.  this means any variable defined within the context would be removed upon exiting.

[2022-06-02 11:58] raphael-31 commented on #1157
Thank you Mike for your answer, but as I said, after I would analyse the result from an acoustic simulation, and for that type of result I don't think the stiff and the mass matrix are still symmetric.

[2022-06-02 12:08] FredAns commented on #1162
Do we want to be able (optionally) to create a buffer of commands and send them in one call at the end ?

[2022-06-02 12:15] koubaa commented on #1162
@FredAns this can be done like this:
[code]

[2022-06-02 13:57] raphael-31 commented on #1157
Yes sure I attached it here. The first test  I've made were indeed on a structural model (as it dosen't work as I want I don't try on the acoustic model). I would like to have the matrix (Mass, stiffness and damping) which verifies the eigenproblem in python with the firsts eigenvalues and eigenvectors to analyse it.

Thank you for your help,
Raphaël.

Here is the acoustic model as .mac file :

`

[2022-06-02 13:58] germa89 opened #1164 "Improve the documentation for the ``non_interactive`` context"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

The information given by the docstring is not clear.

https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.Mapdl.non_interactive.html?highlight=non_interactive

### Steps To Reproduce

NA

### Which Operating System are you using?

W

[2022-06-02 14:55] #1158 closed

[2022-06-03 00:06] mikerife opened #1166 "Add support for the "CPXMOD" field of the MODOPT command for EIGS"
### Description of the feature

There are some workflows where the default value for CPXMOD on the MODOPT command is not wanted when using the QRDAMP or UNSYM modal methods.  The math.eigs method does not support non-default values of CPXMOD (it issues the modopt command prior to *eigen).  This is a change in the modopt command at version 16.0.
Mike

### Steps for implementing the feature

Change

[2022-06-03 14:14] chart-magnum opened #1169 "Bug located in mapdl.download()"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

While executing download command

[code]

a strange path is produced like so

[code]

i.e., MAPDL creates a folder with a name being the name of the requested file.

What is the reason for that behavior?

The error was not present while working

[2022-06-03 16:36] germa89 commented on #1124
Closing this issue.

[2022-06-03 16:36] #1124 closed

[2022-06-04 07:19] lschuler1 commented on #1114
Hi @germa89 ,

I cannot give you my entire code, but here is the part that caused the issue. It's a loop to obtain the right hand side vector of a thermal problem for different heat generation values. MAPDL crashed randomly at different iterations of the loop when calling `mapdl.math.rhs()`.

[code]

[2022-06-04 10:51] germa89 opened #1171 "Add tag version to PyMAPDL documentation"
### Description of the feature

(*) Requested internally.

Increase exposure of the PyMAPDL examples by including the version in their deployment.

### Steps for implementing the feature

https://github.com/pyansys/pymapdl-docs

### Useful links and references

_No response_

[2022-06-06 06:45] germa89 commented on #1114
I will have a look in the coming months, I'm a bit caught with other stuff. Please feel free to ping me if no progress is made in the next 2 weeks.

[2022-06-06 09:22] #1160 closed

[2022-06-06 09:23] Sun1ICE commented on #1160
forget to use pool.exit() (⊙﹏⊙)

[2022-06-06 13:00] raphael-31 commented on #1157
Hi,

the model works ? And the extraction on python via numpy or scipy works ?

Have a good day,
Raphaël.

[2022-06-07 08:45] germa89 opened #1172 "Add optional dependencies section to the pyprojec.tml file"
Add optional dependencies section to the tml file so we can do:

[code]

[2022-06-07 09:58] andreasMANdeg opened #1173 "Can't read the creep strain from result file"
hi,

i'm trying to read different strain types from my ANSYS result file with the helpf of the ansys-dpf-core package. This works fine for the elastic and plastic strain. But when using the same command -- model.results.creep_strain() -- for the creep strain, I get the following error message:

AttributeError: 'Results2462051095944' object has no attribute 'creep_strain'

In the attached picture y

[2022-06-07 13:49] mikerife commented on #1173
Hi @andreasMANdeg Please post this on the DPF-Core Github page:
https://github.com/pyansys/pydpf-core

Also, see the DPF-Post document page and search for the term creep-strain...there is no result "creep_strain()":
https://dpfdocs.pyansys.com/search.html?q=creep+strain

The results are a bit more descriptive...like "nodal_averaged_creep_strains" etc.

Mike

[2022-06-09 07:03] marcinch18 opened #1175 "'NoneType' object has no attribute 'extract_surface'"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

Hi,

I get following error:

'NoneType' object has no attribute 'extract_surface'

when trying to run the following command:

mapdl.post_processing.plot_nodal_displacement('X')

Any ideas how to fix it?

BR
Martin

### Steps To Reproduce

examp

[2022-06-09 08:41] germa89 commented on #1175
I did try to run that example:
[code]

and I got the following error:

[code]

I shall have a look at it in the coming weeks.

[2022-06-09 12:14] germa89 opened #1176 "Add Windows self-host agent for running PyMAPDL tests in Windows"

[2022-06-09 12:18] germa89 opened #1177 "Improve docker image building process"
We should start to investigate the possibility of moving part of the docker image building process to Github.

Due to some limitations, we must use a self-hosted agent.

[2022-06-09 12:37] germa89 opened #1178 "Use github.jobs.services instead of `start_mapdl.sh`"
### Description of the feature

Right now we use a shell scrip to launch mapdl.

This is perfectly fine (it works great), but in Linux you can use `job.services` to run a docker image as service for each (or all) the job.

### Steps for implementing the feature

from `api-eigen-example`:

https://github.com/ansys/api-eigen-example/blob/108085fcaa860a9d1e27abbdc561c160a98e09e3/.github/workflows/ci.

[2022-06-09 13:25] germa89 opened #1179 "Add TOC to the Readme file"
### Description of the feature

As the title.

### Steps for implementing the feature

As the title

### Useful links and references

_No response_

[2022-06-09 16:56] germa89 opened #1180 "`ANTYPE` docstring format issues"
Fix `ANTYPE` doc string:

https://mapdldocs.pyansys.com/mapdl_commands/solution/_autosummary/ansys.mapdl.core.Mapdl.antype.html#ansys.mapdl.core.Mapdl.antype

[2022-06-10 03:14] pgpgwhp opened #1183 "Problems with importing the IGES and X_T files"
I want to import a Iges file to my codes, but I can't import it correctly. How can do to control the command 'IGESIN'?
The codes are as follows

`mapdl = launch_mapdl(exec_file=path)

mapdl.prep7()

mapdl.igesin(r"'300MW_TV1_Cast'","'IGS'")
print(mapdl.geometry)`

The results are all zeros
![image](https://user-images.githubusercontent.com/48637534/172983211-02784d79-1efe-4095-b297-a48cf5c91c7c.pn

[2022-06-10 09:18] germa89 opened #1184 "Add automatic file uploads in TBTF command."
### Description of the feature

The command `TBTF` can use files:

[code]
Therefore we should automatically upload them to the MAPDL instance.

### Steps for implementing the feature

It should use `mapdl.upload` and the common method for checking files.

### Useful links and references

_No response_

[2022-06-10 09:19] germa89 opened #1185 "Add `convert_apdl_block()` to the documentation"
### Description of the feature

`convert_apdl_block()` is quite mature function and it should be exposed to the user through the documentation.

### Steps for implementing the feature

Include `convert_apdl_block()` in `__init__`.

### Useful links and references

_No response_

[2022-06-10 17:19] mikerife commented on #1183
Hi @pgpgwhp the APDL command IGESIN is not a /Prep7 command.  It is a /Aux15 command.  So please try:

mapdl.aux15()
mapdl.igesin('300MW_TV1_Case.igs')
mapdl.finish()
mapdl.prep7()
mapdl.print(mapdl.geometry)

Let us know what happens.

Also it looks like there is a bug in the logic - issuing igesin in prep7 will result in mapdl writing the iges file...and since there is no cad in the mapdl databa

[2022-06-11 08:59] AR-Philip opened #1188 "ansys\mapdl\core\mapdl_grpc.py MapdlGrpc._multi_connect function timeout not influenced by launch_mapdl(start_timeout)"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

I recently tried to work with pyMapdl remotely, connect to the license server via VPN.
As the VPN connection tends to be a bit slower than a direct connection to the license server,
when launching mapdl via the launch_mapdl function,
an error w

[2022-06-14 11:26] germa89 commented on #1179
It cannot be done, because ``ts`` directive is markdown and the ``toctree`` rst directive is not rendered in github readme.

[2022-06-14 11:26] #1179 closed, assigned to germa89

[2022-06-15 08:40] RobPasMue opened #1195 "Make use of pyansys-tools-report"
**Is your feature request related to a problem? Please describe.**
PyMAPDL makes use of a custom implementation of the Report class. Since it is a PyAnsys library, it should try to make use of the currently available pyansys-tools-report package

**Describe the solution you'd like**
Just add as a requirement the pyansys-tools-report package and make use of it instead of the Report class

**Describ

[2022-06-15 11:05] germa89 opened #1196 "`CNCHECK` command is duplicated"
The command `CNCHECK` is duplicated in two clases: `analysis_options` and `database`.

I would delete the one in `database`.

[2022-06-15 11:35] germa89 opened #1200 "Add PyMAPDL cheatsheet"
Add PyMAPDL cheatsheet

[2022-06-15 22:07] willi-z opened #1201 "Question: Read stress of each layer of SHELL 181"
Hi,
I want to get the stress of each layer of a multi-layered shell-element.
In my research I found the [issue  #71](https://github.com/pyansys/pymapdl/issues/71), which is from 2020 and where the conclusion was that the shell-elements are simply not supported yet.
Is this statement still true?
I know that the plotting does not work corectly as discussed in [issue #995](https://github.com/pyansys/

[2022-06-16 05:26] germa89 commented on #1188
Hi @AR-Philip

Thank you very much for opening this issue. You are right! `timeout` variable is not being passed. I'm going to fix it now.

Kind regards,

[2022-06-16 05:30] germa89 commented on #1178
This might improve reliability of the MAPDL process.

[2022-06-16 09:11] germa89 commented on #1171
To close this issue, we need to be able to tag the commits we are pushing to the docs repo. Currently this is not a feature of the GitHub action we are using (https://github.com/JamesIves/github-pages-deploy-action), and it is not my intention, neither to break apart that action, neither for it.

Hence I'm proposing to add the `tag` feature to the mentioned GitHub action. You can track its progres

[2022-06-16 15:43] mikerife commented on #1201
Hi @willi-z Instead of using the result reader, we can use the APDL command PRNSOL to print the nodal solution, along with the to_dataframe() modifier for a very nice look.  Also shell 181 by default writes the bottom of the bottom layer and the top of the top layer results to the result file.  If you need more than that please see the help entry for shell181 and its keyopt 8 setting.  We can use

[2022-06-17 13:42] willi-z commented on #1201
@mikerife Thank you so much!
I modified your code to account for each layer and it worked perfectly!

If someone later will read this post and want a complete example:
[code]

thats results in:
[code]

[2022-06-17 13:42] #1201 closed

[2022-06-17 15:22] willi-z opened #1210 "Question: How to write good pytests for pymapdl sims?"
Hi,
I have the follwing problem/question:
When simulating large systems I like to first simulate parts or  simpler similar issues, where I know the answer so I can check if my simulation is correct.
In python you would probably use pytest to automate this effort (especially if you have a fancy area generator function that might change often).

The following code is how I would expect to do this:

[2022-06-20 08:01] willi-z commented on #1201
@mikerife is there a good way to get the stress in the layer coodinate system?

[2022-06-20 09:10] germa89 opened #1211 "Add Plotly capabilities to gallery examples"
### Description of the feature

Currently the plotly widgets are not supported (white empty box).

### Steps for implementing the feature

Probably there is some interesting information in:

- https://github.com/plotly/plotly-sphinx-gallery
- https://github.com/ansys/ansys-sphinx-theme/pull/76

This issue might be not PyMAPDL, but [ansys-sphinx-theme](https://github.com/ansys/ansys-sphinx-theme) e

[2022-06-20 09:37] germa89 commented on #1210
Hi @willi-z

I did try your test and I got the following output:

[code]

which means that all the calculations are made, it is just different values in the assertions:

[code]

I changed the following lines of code to fix it:
[code]

Regarding your issue, I would suggest you to use a newly created virtual environment. I might fix it. But definitely you code (and PyMAPDL) seems to work as expected

[2022-06-20 10:53] kp3393 opened #1212 "Installation of ansys-mapdl-core and ansys-mapdl-reader on macOS Monterey 12.4 (M1)"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

Hello team,
I'm having issues installing ansys-mapdl-core and ansys-mapdl-reader on macOS Monterey 12.4.
Here is the setup detail:
1. Using PyCharm 2022.1.2 (Professional Edition)
2. Using Conda Environment
3. Python version 3.9.5

Please, find

[2022-06-20 11:35] germa89 commented on #1212
Hi @kp3393

At the moment, ``pymapdl-reader`` is not tested against MacOS and for sure not for MX architecture.

We might be able to fix this in the near future because there are some effort already in supporting MX, but nothing is sure.

Pinging @akaszynski for visibility.

I'm going to transfer this to the ``pymapdl-reader`` repository and leave it open as reminder.

[2022-06-20 11:48] germa89 commented on #1210
Closing this issue, but feel free to post a reply or reopen it if you feel like it.

[2022-06-20 11:48] #1210 closed

[2022-06-20 13:49] mikerife commented on #1201
Hi @willi-z Please see the APDL command RSYS [Results Coordinate System].  For a one layer shell the SOLU option would work.  For layered shells where the layers are aligned differently then the LAYER option is needed.  Mike

[2022-06-20 15:44] germa89 opened #1213 "Note on the docker"
Hi

While running v21.2.0 in GitHub Actions (as a service), I saw the following note:

[code]

I wonder if it is relevant or not.

### Notes
- I did run the image without flags, so in theory using MPI.

Pinging @akaszynski @FredAns @koubaa @dts12263 for visibility.

### Full log
well, not full

[code]

[2022-06-20 15:56] germa89 opened #1214 "Update example-data links"
Because of https://github.com/pyansys/example-data/issues/40 we should update the examples file links.

This should be done after the above has been fixed.

[2022-06-20 16:57] mikerife commented on #1213
@germa89 Try setting the environment variable KMP_AFFINITY=disabled prior to launching MAPDL.  Mike

[2022-06-20 21:17] germa89 commented on #1213
Hi @mikerife

Thank you for your answer. Is there any reason for that note though? It might be a good trade off for something.

Regards

[2022-06-20 21:43] mikerife commented on #1213
Hi @germa89 Just prior SRs on that error message.  Have run into this oh once a year or so.  It used to, v18.0, cause MAPDL to fatal error exit.  So my first reaction is to just disable and go from there.

[2022-06-20 22:22] #1188 closed

[2022-06-20 22:23] #1196 closed

[2022-06-20 22:24] #1180 closed

[2022-06-20 22:25] #1185 closed

[2022-06-21 06:44] RobPasMue commented on #1195
Now that the pyansys-tools-report package has been updated to also consider CADOE by default, I'll start looking into the implementation. I'll notify you when it's ready @germa89

[2022-06-21 09:31] germa89 opened #1217 "Supporting MacOS using wheels"
We should be able to build wheels for MacOS (and ideally test them).

### Reference:

https://github.com/pyansys/pymapdl-reader/issues/141

https://cibuildwheel.readthedocs.io/en/stable/

[2022-06-21 12:40] germa89 opened #1218 "Being able to inject var envs"
I believe we should be able to inject our own environment variables in the MAPDL process (only in local).

[2022-06-22 09:06] willi-z commented on #1201
Hi @mikerife Thanks again. I first didn't get the values I was expecting, but later realized that my boundary conditions was wrong. Everything works fine now! Thank you! Thank you! Thank you!

[2022-06-23 12:15] mcMunich commented on #979
@germa89 I noticed the same error message in a simple model when using a text color argument in the plot command.

[2022-06-23 17:35] yc2647 opened #1222 "Output .IGES File Not Compatible"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

Hi,
I tried to output the geometry of this [tutorial](https://mapdldocs.pyansys.com/examples/gallery_examples/00-mapdl-examples/3d_notch.html#sphx-glr-examples-gallery-examples-00-mapdl-examples-3d-notch-py) in .IGES format. The commands I used

[2022-06-23 20:06] greschd opened #1223 "Incompatible with numpy==1.21.1 on Windows"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

On Windows with Python 3.9 and `numpy==1.21.1`, there seems to be a binary incompatibility between `numpy` and `ansys-mapdl-reader`. This causes `launch_mapdl` to fail.

### Steps To Reproduce

On a fresh virtualenv:

[code]

Then, in the REPL:

[2022-06-23 20:07] mikerife commented on #1222
Hi @yc2647 This is not necessarily an PyMAPDL issue.  MAPDL can read in the IGES file that is created.  Use the following SCDM option when importing that IGES file and SCDM will properly create the volume:
![image](https://user-images.githubusercontent.com/91209185/175387270-e6c6157b-3a98-4e3a-b7f8-c32d8fb94845.png)

Also there are lines and keypoints in the MAPDL database that do not belong to th

[2022-06-23 21:49] yc2647 commented on #1222
Hi Mike,

Thank you for your quick reply! So I added the command `mapdl.vsel` command prior to writing the IGES file
[code]

But the .IGES file I opened in SpaceClaim is still not the same as the one created in Pyansys.

Thanks again

[2022-06-23 21:54] mikerife commented on #1222
Hi @yc2647 Did you change that import option in SCDM?  Which version of SCDM are you using?
Mike

[2022-06-24 21:08] mikerife commented on #1222
Hi @germa89 this issue can be closed.  yc2647 accidentally was looking at different file type options in SCDM; once the setting shown above was set the iges file imported into SCDM for them.

For anyone else reading this - a long time ago (pre my joining Ansys) a coworker and I had created a APDL macro to write out a STL file of a surface mesh.  I wanted to see if I could recreate it in Python + N

[2022-06-24 23:41] #1222 closed

[2022-06-25 14:02] sdurain opened #1228 "student version"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

hello everybody,
i have a student version of ANSYS 2022. Whe n i lunch ansys MAPDL in batch mode, have an error of licence (command i used : ``C:\Program Files\ANSYS Inc\ANSYS Student\v221\ANSYS\bin\winx64\ANSYS221.exe -grpc``). The name of thi

[2022-06-25 15:52] akaszynski commented on #1228
This looks like an issue with `appdir`. Can you post it there? Additionally, @germa89, will this be fixed by our try/except of `pyvista` import?

It's likely we need to add a try/except for `pyvista`'s scrapper as well.

[2022-06-27 15:46] mikerife commented on #1213
HI @germa89 yes it is; normally we leave it to the job scheduler to set any needed thread-core pairing/ordering.

[2022-06-27 19:18] germa89 commented on #1222
Hi @mikerife

Thank you very much for working on this!

It might be an interesting feature to include in pymapdl. I will contact you for following up on this.

[2022-06-27 19:22] germa89 commented on #1213
We should probably link this info to here:

https://dev.docs.ansys.com/contents/ansys_best_practices/containers/mpi_containers.html

[2022-06-28 08:54] #1195 closed

[2022-06-28 11:50] germa89 opened #1233 "Add hostname resolution at the MAPDL class level"
Add hostname resolution at the MAPDL class level.

[2022-06-28 23:58] mikerife commented on #1183
Hi @pgpgwhp have you had a chance to revisit this?  What happened?
MIke

[2022-06-29 07:57] nilsAnso opened #1235 "``mapdl.input`` overwriting input file"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

If a session is started based on an old instance e.g.
`launch_mapdl(override = True, start_instance=False, clear_on_connect = True, cleanup_on_exit = False)`
I get in trouble using `mapdl.input()` with a file size larger than 2MB. The progress

[2022-06-29 08:36] germa89 commented on #1235
Hi @nilsAnso

Thank you for posting this. Could you share your input file?

You might be right about the size, but I rather have all the pieces when I start working on this.

Also, what kind of jobs did you run before in the "old instance" ??

[2022-06-29 10:20] germa89 commented on #979
@mcMunich
Which versions of PyMAPDL and reader do you have?

[2022-06-29 18:05] germa89 opened #1239 "Documentation implementation"
## Context
There are multiple versions of MAPDL (v23.1; ... v22.1). Most of the functions do not change between versions, but there are some of them which get new documentation.

Current documentation docstring are based (I believe) in v19.1 or so. They were parsed from a third party html so it is not perfect, neither complete (long commands , i.e. ``*GET`` got trimmed)

An update and organized do

[2022-06-30 12:06] germa89 opened #1241 "Better error handling by expanding error types"
### Description of the feature

## Current state
Currently most of the errors presented in the MAPDL logs are handled as ``RuntimeErrors``. This might be convenient, because it simplifies the implementation, but it is not for error handling.

As detailed in https://github.com/pyansys/pymapdl/discussions/1230, currently we cannot do:

[code]

### Steps for implementing the feature

Ideally there sh

[2022-06-30 12:10] germa89 opened #1242 "New feature: STL export"
### Description of the feature

Currently you cannot export to STL, but you can export the "view" created by the plotting functions using Pyvista.

We should be able to generate STL files of the full geometry without plotting.

### Steps for implementing the feature
Reevaluate steps because of comments.

**Better implement first DPF**

- [ ] Generate full volumes, areas, lines, elements, etc. mode

[2022-06-30 13:26] bedermaus commented on #1242
There is already an operator in DPF-Core which can do it:
https://dpfdocs.pyansys.com/api/ansys.dpf.core.operators.mesh.stl_export.html?highlight=stl

[2022-06-30 14:06] germa89 commented on #789
It seems that Pyvista is supporting python 3.10. This should be fixed soon then.

[2022-06-30 15:13] germa89 commented on #789
I just test it, and it works! Thank you @akaszynski !

## Python version
[code]
## Windows version:
Windows 11

## List of packages:
[code]

[2022-06-30 16:22] germa89 commented on #774
Check first with only one simple command, and then reevaluate the project approach.

[2022-06-30 16:22] koubaa commented on #774
I suggest writing a parser for one command that generates a docstring.  It should have a cli like this:

parse_mapdl_command.py --source /path/to/mapdl/doc/source --command SOLVE --output /path/to/output.txt

[2022-06-30 20:10] germa89 commented on #1223
Maybe related to #1102 ??

[2022-06-30 21:05] greschd commented on #1223
I don't think it is, this is really an error on import, not a logic error or similar. I think there's simply a binary incompatibility somewhere.

[2022-06-30 23:21] akaszynski commented on #1223
This has cropped up for me as well.

If we build `ansys-mapdl-reader` using an older version of numpy we might be able to keep backwards compatibility. I've not tested enough to verify this is true, but if it isn't, we probably should set a lower bound for numpy in the install requirements for `ansys-mapdl-reader`.

[2022-07-01 10:39] andreas-hilti opened #1246 "input_strings fails to find temporary input file (in docker setting)"
**Describe the bug**
When you run input_strings to execute several MAPDL commands with MAPDL running in a docker container, pyMapdl produces a temporary input file, but this is not found.

**To Reproduce**
Steps to reproduce the behavior:
1. launch a new MAPDL instance in a docker container
[code]
2. send some commands
[code]
results in:
[code]

**Expected behavior**
I expect these commands to be

[2022-07-01 10:51] germa89 commented on #1246
Hi @andreas-hilti

Thank you for posting this.

I'm surprised this doesn't work, because the CICD is running on docker.

Which docker image version are you using?

[2022-07-01 11:18] andreas-hilti commented on #1246
Hi @germa89

After posting it, I noticed that it is working if I run it without the "mapdl.non_interactive:" part.
In terms of docker image, it is hidden behind PyPIM; all I know is that it is a 2022 R1 MAPDL image.

[2022-07-01 12:56] FredAns commented on #1241
Hi @germa89 !
Agree with you we need to improve the error handling.
We have this initiative starting end of summer to improve the log/monitoring of MAPDL in PyAnsys. Warning and Error Feeback is part of the scope.
Actually there's no formalized table of errors we can rely on for now.

[2022-07-01 14:00] andreas-hilti commented on #1246
I think I see the issue:

_flush_stored is issued twice:
- once in input_strings
- once in _non_interactive.__exit__
when the second one is executed, it has no commands at all, then something goes wrong when uploading/running it

Thus, either makes sure that it is flushed only once, or make sure that uploading & running an empty file works.

[2022-07-01 17:11] greschd commented on #1223
For what it's worth, this is the `poetry` dependency specification I ended up with to work around this (numpy 1.22 isn't compatible with Python 3.7):

[code]
The same should be doable in other packaging tools with environment markers.

[2022-07-04 15:43] natter1 opened #1249 "Difference between line numbers in APDL and mapdl.lplot()"
**Describe the bug**
Line numbers shown via mapdl.lplot() differ from the internal APDL numbers.

![grafik](https://user-images.githubusercontent.com/52835756/177181712-fd6b89d8-3573-4558-bdbe-1c94d580e46a.png)

As shown above, for L11 and L19 the numbers in the PyMAPDL plot are the same, but the other lines are shifted by 1.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected be

[2022-07-04 17:07] germa89 opened #1250 "Fix launcher unit tests not passing because of containers"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

If #1238 gets approved, the launcher module will be almost fully operative.

But there will be some tests not passing.

### Test not passing.

[code]

They need further investigation (probably access to the license server?)

Also the ``can_star

[2022-07-05 09:44] maximepollet27 commented on #1128
Hi @germa89

Sorry for reopening this issue so long after you found the first solution, I was occupied by other things. After installing the latest update, I resumed trying to implement this script that combines multiprocessing and loading .CDB mesh files.
Unfortunately, I keep running in issues when i run the script. The errors are not always the same and seem to still be due to temporary files r

[2022-07-05 10:23] germa89 commented on #1128
Hi @maximepollet27

Before I try something, can you use ``license_server_check=True`` at ``launch_mapdl``??

[2022-07-05 11:02] maximepollet27 commented on #1128
Hi @germa89

Thanks a lot for the quick reply. I used `license_server_check=True` and ran the script two times. Here are the resulting errors for the two trials:

[code]

and

[code]

[2022-07-06 12:46] germa89 commented on #1250
Closing this because #1238  has been abandoned.

[2022-07-06 12:46] #1250 closed

[2022-07-06 15:28] germa89 opened #1251 "Add documentation about ``KMP_AFFINITY``"
### Description of the feature

Because https://github.com/pyansys/pymapdl/issues/1213 Some information should be added to the dev-guide.

### Steps for implementing the feature

Create a PR in dev-guide.

### Useful links and references

_No response_

[2022-07-06 15:28] germa89 commented on #1213
Close to work in #1251

[2022-07-06 15:35] germa89 commented on #941
Closing because stale.

[2022-07-06 15:41] germa89 commented on #1083
Closing because #993 should implement this. Am I right @da1910 ??

[2022-07-06 15:41] #1083 closed

[2022-07-06 15:45] germa89 commented on #1103
I think this is related to #934

[2022-07-06 15:49] germa89 commented on #1103
@muruep I do not have access to the files in the link anymore.

I'm closing this issue. But feel free to reopen and upload the files again, so I can have a look. Thank you!

[2022-07-06 15:49] #1103 closed, assigned to germa89

[2022-07-06 15:56] germa89 commented on #1183
Closing this issue. #Stale

@pgpgwhp feel free to reopen it if this is still interesting for you.

[2022-07-06 15:56] #1183 closed

[2022-07-06 15:57] germa89 commented on #1178
Closing this issue because #1203 has been abandoned.

[2022-07-06 15:57] #1178 closed

[2022-07-06 15:59] germa89 commented on #1172
Related to #1104